<div *ngIf="callService.getActiveCall()">
  <dx-data-grid id="callHistoryGrid"
    [dataSource]="callService.getActiveCallDetails().callRemarks"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [showColumnHeaders]="true"
    height="350"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="['activeUnitss']">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection mode="single"></dxo-selection>
    <dxi-column dataField="id" dataType="number" [visible]="false"></dxi-column>
    <dxi-column dataField="remarks" dataType="string"></dxi-column>
    <dxi-column dataField="createdDateTime" dataType="string"></dxi-column>
    <dxi-column dataField="createdByUserId" dataType="string"></dxi-column>
  </dx-data-grid>
</div>
