<dx-popup
    class="popup"
    [width]="'50%'"
    [height]="'50%'"
    [showTitle]="true"
    title="Officer Panel"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false"
    [(visible)]="isVisible"
    [showCloseButton]="true">
  <dx-data-grid id="officerGrid"
      [dataSource]="officerService.getAllOfficersList()"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [showColumnHeaders]="true"
      height="350">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true">
    </dxo-editing>
    <dxi-column dataField="id" dataType="string" [visible]="false"></dxi-column>
    <dxi-column dataField="badge_number" dataType="string"></dxi-column>
    <dxi-column dataField="first_name" dataType="string"></dxi-column>
    <dxi-column dataField="last_name" dataType="Date"></dxi-column>
  </dx-data-grid>
</dx-popup>
