<dx-toolbar
  class="detailsToolBar"
  width="100%">
  <dxi-item [location]="'center'" locateInMenu="never">
      <div style="font-size: large;">Call Details</div>
  </dxi-item>
</dx-toolbar>
<div *ngIf="callService.getActiveCall()" id="callTabsContainer" class="detailsContainer">
  <dx-tab-panel
    id="callTabsContainer"
    [height]="'100%'"
    [loop]="false"
    [scrollingEnabled]="true"
    [noDataText]="'No Items added to Call!'">

    <dxi-item class="tabpanel-item" title="Call Details">
      <app-details></app-details>
    </dxi-item>
    <dxi-item class="tabpanel-item" title="Complainants" >
      <app-complainants></app-complainants>
  </dxi-item>
    <dxi-item class="tabpanel-item" title="Involved Units">
      <app-involved-units></app-involved-units>
    </dxi-item>
    <dxi-item class="tabpanel-item" title="Involved Persons">
        <app-involved-persons></app-involved-persons>
    </dxi-item>
    <dxi-item class="tabpanel-item" title="Involved Vehicles">
      <app-vehicles></app-vehicles>
    </dxi-item>
    <dxi-item class="tabpanel-item" title="Call History">
        <app-call-history></app-call-history>
    </dxi-item>
  </dx-tab-panel>
</div>
