<dx-toolbar
  class="detailsToolBar"
  width="100%" height="40px">
  <dxi-item [location]="'center'" locateInMenu="never">
      <div>Call Details {{callService.getActiveCall() ? '(' + callService.getActiveCall().id + ')' : ''}}</div>
  </dxi-item>
</dx-toolbar>
<div *ngIf="callService.getActiveCall()" >
  <dx-tab-panel
    id="callTabsContainer"
    [height]="window.innerHeight/2 - 100"
    [loop]="false"
    [scrollingEnabled]="true"
    [noDataText]="'No Items added to Call!'">

    <dxi-item class="tabpanel-item" [title]="'Call Details'">
      <app-details></app-details>
    </dxi-item>
    <dxi-item class="tabpanel-item" title="Locations">
        <app-locations></app-locations>
    </dxi-item>
    <dxi-item class="tabpanel-item" title="Complainants" >
      <app-complainants></app-complainants>
  </dxi-item>
    <dxi-item class="tabpanel-item" [title]="'Involved Units'">
      <app-involved-units></app-involved-units>
    </dxi-item>
    <dxi-item class="tabpanel-item" title="Involved Persons">
        <app-involved-persons></app-involved-persons>
    </dxi-item>
    <dxi-item class="tabpanel-item" title="Involved Vehicles">
      <app-vehicles></app-vehicles>
    </dxi-item>
    <dxi-item class="tabpanel-item" title="Unit Activity Status">
      <app-activity-log></app-activity-log>
    </dxi-item>
  </dx-tab-panel>
</div>
