.detailsContainer {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

.detailsToolBar {
  font-size: 18px;
  box-sizing: border-box;
  display: block;
  background-color: #328CC1;
  color: white;
}

::ng-deep .tabpanel-item {
  background-color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bolded {
  font-weight: bold;
}
