.detailsContainer {
  width: 100%;
  text-align: -webkit-right;
}

.detailsToolBar {
  background-color: #476981;
  color: white;
  font-size: xx-large;
  padding-top:0px;
  margin-top: 0px;
}
