<div *ngIf="callService.getActiveCall()">
  <dx-data-grid id="unitContainer"
    #unitContainer
    [dataSource]="involvedUnitsList"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [showColumnHeaders]="true"
    height="325"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="['activeUnits']"
    (onRowUpdating)="updateRow($event)"
    (onContextMenuPreparing)="showContextMenu($event)">
    <dxo-paging [pageSize]="5"></dxo-paging>
    <dxo-pager
        [visible]="true"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
    </dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-sorting mode="multiple"> </dxo-sorting>
    <dxi-column dataField="dispatchDateTime" dataType="date" [format]="'shortDateShortTime'" caption="Dispatched"></dxi-column>
    <dxi-column dataField="enrouteDateTime" dataType="date" [format]="'shortDateShortTime'" caption="Enroute"></dxi-column>
    <dxi-column dataField="arrivedDateTime" dataType="date" [format]="'shortDateShortTime'" caption="Arrived Scene"></dxi-column>
    <dxi-column dataField="inserviceDateTime" dataType="date" [format]="'shortDateShortTime'" caption="In Service"></dxi-column>
    <dxi-column dataField="callForServiceUnit.unitType" dataType="string" caption="Unit Type" width="10%">
      <dxo-lookup
        [dataSource]="unitType.store()"
        valueExpr="id"
        displayExpr="unitDescription">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="callForServiceUnit.unitDescription" dataType="string" caption="Description"></dxi-column>
    <dxi-column dataField="callForServiceUnit.unitAgencyId" dataType="string" caption="Agency">
      <dxo-lookup
        [dataSource]="unitAgencies.store()"
        valueExpr="id"
        displayExpr="agencyName">
    </dxo-lookup>
    </dxi-column>
  </dx-data-grid>
</div>
