<div *ngIf="callService.getActiveCall()">
  <dx-data-grid id="unitContainer"
    #unitContainer
    [dataSource]="involvedUnitsList"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [showColumnHeaders]="true"
    height="350"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="['activeUnits']"
    (onRowUpdating)="updateRow($event)">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection mode="single"></dxo-selection>
    <dxi-column dataField="dispatchDateTime" dataType="date" [format]="'shortDateShortTime'" caption="Dispatch Time" width="20%"></dxi-column>
    <dxi-column dataField="callForServiceUnit.unitType" dataType="string" caption="Unit Type" width="20%">
      <dxo-lookup
        [dataSource]="unitType"
        valueExpr="id"
        displayExpr="unitDescription">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="callForServiceUnit.unitDescription" dataType="string" caption="Description"></dxi-column>
    <dxi-column dataField="callForServiceUnit.unitAgencyId" dataType="string" caption="Unit Type" width="20%">
      <dxo-lookup
        [dataSource]="unitAgencies.store()"
        valueExpr="id"
        displayExpr="agencyName">
    </dxo-lookup>
    </dxi-column>
  </dx-data-grid>
</div>
