.callTableBox {
  height: 100%;
  background-color: white;
}

.callDetailsBox {
  height: 100%;
  background-color: white;
}

.callDetailsNotesBox {
  height: 100%;
  background-color: white;
}
