<dx-data-grid id="addressTypeGrid"
    [dataSource]="addressTypes"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [showColumnHeaders]="true"
    height="350"
    (onRowUpdating)="updateRow($event)">
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-selection mode="single"></dxo-selection>
  <dxo-editing
    mode="popup"
    [allowDeleting]="true"
    [allowAdding]="true">
  </dxo-editing>
  <dxo-pager
    [visible]="true"
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[20, 40, 60]"
    [showInfo]="true">
  </dxo-pager>
  <dxi-column dataField="id" dataType="string" [visible]="false"></dxi-column>
  <dxi-column dataField="code" dataType="string"></dxi-column>
  <dxi-column dataField="description" dataType="string"></dxi-column>
</dx-data-grid>
