<div *ngIf="callService.getActiveCall()">
  <dx-form id="complainantForm" class="complainantForm" height="350"
      [formData]="callService.getActiveCall().complainantPerson"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="['activeUnits']">
    <dxi-item itemType="group" caption="Personal Information" [widthRatio]="1">
      <dxi-item dataField="id" dataType="number" [visible]="false"></dxi-item>
      <dxi-item dataField="first_name" dataType="string"></dxi-item>
      <dxi-item dataField="last_name" dataType="string"></dxi-item>
      <dxi-item dataField="address" dataType="string"></dxi-item>
    </dxi-item>
    <dxi-item [colSpan]="2"
      itemType="button"
      horizontalAlignment="right"
      [buttonOptions]="buttonOptions">
  </dxi-item>
  </dx-form>
</div>
