<div *ngIf="callService.getActiveCall()">
  <dx-form id="complainantForm" class="complainantForm" height="350" [colCount]="2" [labelLocation]="'top'"
      [formData]="callService.getActiveCall().complainantPerson"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="['activeUnits']">
    <dxi-item itemType="group" caption="Complainant Information" [widthRatio]="1" [colCount]="5">
      <dxi-item dataField="id" dataType="number" [visible]="false" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
      <dxi-item dataField="namePrefixCodeId" [label]="{text: 'Prefix'}" [colSpan]="1" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', label: 'Name Prefix',items: namePrefix,  valueExpr:'id', displayExpr:'namePrefixDescription', searchEnabled:true, searchExpr:'namePrefixDescription', searchMode:'startsWith'}"></dxi-item>
      <dxi-item dataField="firstName" dataType="string" [colSpan]="2" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
      <dxi-item dataField="middleName" dataType="string" [colSpan]="2" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
      <dxi-item dataField="lastName" dataType="string" [colSpan]="3" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
      <dxi-item dataField="nameSuffixCodeId" [colSpan]="2" [label]="{text: 'Suffix'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: nameSuffix,  valueExpr:'id', displayExpr:'nameSuffixDescription', searchEnabled:true, searchExpr:'nameSuffixDescription', searchMode:'startsWith'}"></dxi-item>
    </dxi-item>
    <dxi-item itemType="group" caption="Contact Information" [widthRatio]="1">
      <dxi-item dataField="homePhoneNumber" dataType="string" [editorOptions]="{ stylingMode: 'filled', mask: '(X00) 000-0000', maskRules: rules }"></dxi-item>
      <dxi-item dataField="workPhoneNumber" dataType="string" [editorOptions]="{ stylingMode: 'filled',  mask: '(X00) 000-0000', maskRules: rules }"></dxi-item>
      <dxi-item dataField="mobilePhoneNumber" dataType="string" [editorOptions]="{ stylingMode: 'filled', mask: '(X00) 000-0000', maskRules: rules }"></dxi-item>
      <dxi-item [colSpan]="2"
        itemType="button"
        horizontalAlignment="right"
        verticalAlignment="bottom"
        [buttonOptions]="buttonOptions">
      </dxi-item>
    </dxi-item>
  </dx-form>
</div>

<dx-load-panel
    #loadPanel
    shadingColor="rgba(0,0,0,0.4)"
    [position]="{ of: '#complainantForm' }"
    [(visible)]="showWaitIndicator"
    [showIndicator]="true"
    [showPane]="true"
    [closeOnOutsideClick]="false">
</dx-load-panel>


