<div *ngIf="callService.getActiveCall()">
  <dx-data-grid id="vehicleGrid"
    [dataSource]="involvedVehiclesList"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [showColumnHeaders]="true"
    height="325"
    (onEditingStart)="getInvolvedVehicle($event)"
    (onRowUpdating)="updateRow($event)">
    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-pager
        [visible]="true"
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
    </dxo-pager>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-header-filter [visible]="true"></dxo-header-filter>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-sorting mode="multiple"> </dxo-sorting>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
      [useIcons]="true">
      <dxo-popup title="Involved Vehicle" [showTitle]="true" [width]="1000" [height]="900"></dxo-popup>
      <dxo-form [width]="'200%'" [labelLocation]="'top'" >
        <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }" caption="Involved Person" [widthRatio]="1">
          <dxi-tab title="Vehicle" width="100%">
            <dxi-item itemType="group" caption="Tag Information" [colCount]="4">
              <dxi-item dataField="vehicle.tagInformation.tagNumber" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicle.tagInformation.tagState" [label]="{text: 'Tag State'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: states,  valueExpr:'id', displayExpr:'stateName', searchEnabled:true, searchExpr:'stateName', searchMode:'startsWith'}"></dxi-item>
              <dxi-item dataField="vehicle.tagInformation.tagExpiresYear" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item [label]="{text: 'Manage', visible:false }">
                <dx-button
                  icon="search"
                  (onClick)="searchTag()"
                  style="margin-right:10px; margin-top: 18px;">
                </dx-button>
              </dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Vehicle Information" [colCount]="4">
              <dxi-item dataField="vehicle.year" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicle.model" [label]="{text: 'Model'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: vehicleModels,  valueExpr:'id', displayExpr: getVehicleModelDisplay, searchEnabled:true, searchExpr:'makeCodeDescription', searchMode:'startsWith' }"></dxi-item>
              <dxi-item dataField="vehicle.VIN" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item [label]="{text: 'Manage', visible:false }">
                <dx-button
                  icon="search"
                  (onClick)="searchVIN()"
                  style="margin-right:10px; margin-top: 18px;">
                </dx-button>
              </dxi-item>
              <dxi-item dataField="vehicle.color" [label]="{text: 'Color'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: colors,  valueExpr:'id', displayExpr:'vehicleColorCodeDescription'}"></dxi-item>
              <dxi-item dataField="vehicle.type" [label]="{text: 'Type'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: types,  valueExpr:'id', displayExpr:'vehicleTypeCodeDescription'}"></dxi-item>
              <dxi-item dataField="vehicle.style" [label]="{text: 'Style'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: styles,  valueExpr:'id', displayExpr:'vehicleStyleCodeDescription'}"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Vehicle Information" [colCount]="3">
              <dxi-item dataField="vehicle.numberOfWheels" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicle.numberOfAxles" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicle.numberOfCylinders" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicle.engineType" [label]="{text: 'Engine Type'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: engineTypes,  valueExpr:'id', displayExpr:'vehicleEngineTypeDescription'}"></dxi-item>
              <dxi-item dataField="vehicle.tranmissionType" [label]="{text: 'Transmission Type'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: transmissionTypes,  valueExpr:'id', displayExpr:'vehicleTransmissionTypeCodeDescription'}"></dxi-item>
              <dxi-item dataField="vehicle.fuelType" [label]="{text: 'Fuel Type'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: fuelTypes,  valueExpr:'id', displayExpr:'vehicleFuelTypeCodeDescription'}"></dxi-item>
              <dxi-item dataField="vehicle.odometerMileage" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicleGCICResults" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
            </dxi-item>
          </dxi-tab>
          <dxi-tab title="Driver" width="100%">
            <dxi-item itemType="group" caption="Name" [colCount]="3">
              <dxi-item dataField="vehicleDriverPerson.namePrefixCodeId" [label]="{text: 'Name Prefix'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: namePrefixCodes,  valueExpr:'id', displayExpr:'namePrefixDescription'}"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.firstName" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.middleName" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.lastName" [colSpan]="2" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.lastNameSuffixCodeId" [label]="{text: 'Name Suffix'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: nameSuffixCodes,  valueExpr:'id', displayExpr:'nameSuffixDescription'}"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Information" [colCount]="2">
              <dxi-item dataField="vehicleDriverPerson.dateOfBirth" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.socialSecurityNumber" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Drivers License" [colCount]="3">
              <dxi-item dataField="vehicleDriverPerson.driversLicenseIssueState" [label]="{text: 'DL State'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: states,  valueExpr:'id', displayExpr:'stateName', searchEnabled:true, searchExpr:'stateName', searchMode:'startsWith'}"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.driversLicenseNumber" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item [label]="{text: 'Manage', visible:false }">
                <dx-button
                  icon="search"
                  (onClick)="searchDL()"
                  style="margin-right:10px; margin-top: 18px;">
                </dx-button>
              </dxi-item>
              <dxi-item dataField="vehicleDriverPerson.driversLicenseExpirationDate" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.driversLicenseIssueDate" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.driversLicenseClass" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Phone" [colCount]="3">
              <dxi-item dataField="vehicleDriverPerson.homePhoneNumber" [editorOptions]="{ stylingMode: 'filled', mask: '(X00) 000-0000', maskRules: rules }"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.workPhoneNumber" [editorOptions]="{ stylingMode: 'filled', mask: '(X00) 000-0000', maskRules: rules }"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.mobilePhoneNumber" [editorOptions]="{ stylingMode: 'filled', mask: '(X00) 000-0000', maskRules: rules }"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Address" [colCount]="5">
              <dxi-item dataField="vehicleDriverPerson.location.streetNumber" [colSpan]="1" [label]="{ text: 'Number' }" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.location.streetId" [colSpan]="3" [label]="{text: 'Street Name'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: streetNames,  valueExpr:'id', displayExpr: getStreetName, searchEnabled:true, searchExpr:'streetName', searchMode:'startsWith'}"></dxi-item>
              <dxi-item>
                <dx-button
                  icon="add"
                  (onClick)="addStreet()"
                  style="margin-right:10px; margin-top: 18px;">
                </dx-button>
                <dx-button
                  icon="edit"
                  (onClick)="editStreet()"
                  style="margin-top: 18px;">
                </dx-button>
              </dxi-item>
              <dxi-item dataField="vehicleDriverPerson.location.cityId" [colSpan]="3" [label]="{text: 'City'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: cities,  valueExpr:'id', displayExpr: getCityName , searchEnabled:true, searchExpr:'cityName', searchMode:'startsWith'}"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.location.zipCode" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Description" [colSpan]="2" [colCount]="2">
              <dxi-item dataField="vehicleDriverPerson.genderId" [label]="{text: 'Gender'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: genderCodes,  valueExpr:'id', displayExpr:'genderDescription'}"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.raceId" [label]="{text: 'Race'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: raceCodes,  valueExpr:'id', displayExpr:'raceDescription'}"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.ethnicityId" [label]="{text: 'Ethnicity'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: ethnicityCodes,  valueExpr:'id', displayExpr:'ethnicityCodeDescription'}"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.eyeColorId" [label]="{text: 'Eye Color'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: eyeColorCodes,  valueExpr:'id', displayExpr:'eyeColorCodeDescription'}"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.height" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.weight" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.hairColorId" [label]="{text: 'Hair Color'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: hairColorCodes,  valueExpr:'id', displayExpr:'hairColorCodeDescription'}"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.hairTypeId" [label]="{text: 'Hair Type'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: hairCodes,  valueExpr:'id', displayExpr:'hairTypeCodeDescription'}"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.eyewearId" [label]="{text: 'Eyewear'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: eyeWearCodes,  valueExpr:'id', displayExpr:'eyewearCodeDescription'}"></dxi-item>
              <dxi-item dataField="vehicleDriverPerson.facialHairId" [label]="{text: 'Facial Hair'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: facialHairCodes,  valueExpr:'id', displayExpr:'facialHairCodeDescription'}"></dxi-item>
            </dxi-item>
          </dxi-tab>
          <dxi-tab title="Owner" width="100%">
            <dxi-item itemType="group" caption="Name" [colCount]="3">
              <dxi-item dataField="isSameAsDriver" [colSpan]="3" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.namePrefixCodeId" [label]="{text: 'Name Prefix'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: namePrefixCodes,  valueExpr:'id', displayExpr:'namePrefixDescription'}"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.firstName" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.middleName" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.lastName" [colSpan]="2" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.lastNameSuffixCodeId" [label]="{text: 'Name Suffix'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: nameSuffixCodes,  valueExpr:'id', displayExpr:'nameSuffixDescription'}"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Information" [colCount]="2">
              <dxi-item dataField="vehicle.ownerPerson.dateOfBirth" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.socialSecurityNumber" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Drivers License" [colCount]="3">
              <dxi-item dataField="vehicle.ownerPerson.driversLicenseIssueState" [label]="{text: 'DL State'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: states,  valueExpr:'id', displayExpr:'stateName', searchEnabled:true, searchExpr:'stateName', searchMode:'startsWith'}"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.driversLicenseNumber" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item [label]="{text: 'Manage', visible:false }">
                <dx-button
                  icon="search"
                  (onClick)="searchDL()"
                  style="margin-right:10px; margin-top: 18px;">
                </dx-button>
              </dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.driversLicenseExpirationDate" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.driversLicenseIssueDate" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.driversLicenseClass" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Phone" [colCount]="3">
              <dxi-item dataField="vehicle.ownerPerson.homePhoneNumber" [editorOptions]="{ stylingMode: 'filled', mask: '(X00) 000-0000', maskRules: rules }"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.workPhoneNumber" [editorOptions]="{ stylingMode: 'filled', mask: '(X00) 000-0000', maskRules: rules }"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.mobilePhoneNumber" [editorOptions]="{ stylingMode: 'filled', mask: '(X00) 000-0000', maskRules: rules }"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Address" [colCount]="5">
                <dxi-item dataField="vehicle.ownerPerson.location.streetNumber" [colSpan]="1" [label]="{ text: 'Number' }" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
                <dxi-item dataField="vehicle.ownerPerson.location.streetId" [colSpan]="3" [label]="{text: 'Street Name'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: streetNames,  valueExpr:'id', displayExpr: getStreetName, searchEnabled:true, searchExpr:'streetName', searchMode:'startsWith'}"></dxi-item>
                <dxi-item>
                  <dx-button
                    icon="add"
                    (onClick)="addStreet()"
                    style="margin-right:10px; margin-top: 18px;">
                  </dx-button>
                  <dx-button
                    icon="edit"
                    (onClick)="editStreet()"
                    style="margin-top: 18px;">
                  </dx-button>
                </dxi-item>
                <dxi-item dataField="vehicle.ownerPerson.location.cityId" [colSpan]="3" [label]="{text: 'City'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: cities,  valueExpr:'id', displayExpr: getCityName , searchEnabled:true, searchExpr:'cityName', searchMode:'startsWith'}"></dxi-item>
                <dxi-item dataField="vehicle.ownerPerson.location.zipCode" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Description" [colSpan]="2" [colCount]="2">
              <dxi-item dataField="vehicle.ownerPerson.genderId" [label]="{text: 'Gender'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: genderCodes,  valueExpr:'id', displayExpr:'genderDescription'}"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.raceId" [label]="{text: 'Race'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: raceCodes,  valueExpr:'id', displayExpr:'raceDescription'}"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.ethnicityId" [label]="{text: 'Ethnicity'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: ethnicityCodes,  valueExpr:'id', displayExpr:'ethnicityCodeDescription'}"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.eyeColorId" [label]="{text: 'Eye Color'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: eyeColorCodes,  valueExpr:'id', displayExpr:'eyeColorCodeDescription'}"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.height" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.weight" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.hairColorId" [label]="{text: 'Hair Color'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: hairColorCodes,  valueExpr:'id', displayExpr:'hairColorCodeDescription'}"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.hairTypeId" [label]="{text: 'Hair Type'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: hairCodes,  valueExpr:'id', displayExpr:'hairTypeCodeDescription'}"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.eyewearId" [label]="{text: 'Eyewear'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: eyeWearCodes,  valueExpr:'id', displayExpr:'eyewearCodeDescription'}"></dxi-item>
              <dxi-item dataField="vehicle.ownerPerson.facialHairId" [label]="{text: 'Facial Hair'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: facialHairCodes,  valueExpr:'id', displayExpr:'facialHairCodeDescription'}"></dxi-item>
            </dxi-item>
          </dxi-tab>
          <dxi-tab title="Wrecker Service" width="100%" [colCount]="8">
            <dxi-item dataField="isWrecker" [colSpan]="8" [label]="{text: 'Is Wrecker Needed?'}" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
            <dxi-item dataField="wreckerRotation" [colSpan]="4" [label]="{text: 'Wrecker Rotation'}" editorType="dxSelectBox" [editorOptions]="wreckerRotationSelectOptions"></dxi-item>
            <dxi-item dataField="wreckerServerId" #wreckerServer [colSpan]="4" [label]="{text: 'Wrecker Service'}" editorType="dxSelectBox" [editorOptions]="wreckerServiceSelectOptions"></dxi-item>
            <dxi-item dataField="wreckerTimeCalled" [colSpan]="4"[label]="{text: 'Time Called'}" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
            <dxi-item dataField="wreckerTimeArrived" [colSpan]="4"[label]="{text: 'Time Arrived'}" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
            <dxi-item dataField="wreckerTowedDateTime" [colSpan]="4"[label]="{text: 'Towed Date/Time'}" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
            <dxi-item dataField="wreckerTowedTo" [colSpan]="4"[label]="{text: 'Towed To' }" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
            <dxi-item dataField="wreckerRemarks" [colSpan]="8" [label]="{text: 'Remarks'}" editorType="dxTextArea" [editorOptions]="{ stylingMode: 'filled', height: 150 }"></dxi-item>
          </dxi-tab>
          <dxi-tab title="Vehicle Remarks" width="100%">
            <dxi-item dataField="vehicleRemarks" editorType="dxTextArea" [editorOptions]="{ stylingMode: 'filled', height: 150 }"></dxi-item>
          </dxi-tab>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxi-column dataField="id" dataType="string" [visible]="false" dataType="string"></dxi-column>
    <dxi-column dataField="vehicle.year" [caption]="'Year'" dataType="number" [visible]="true"></dxi-column>
    <dxi-column dataField="vehicle.model" [caption]="'Model'"  [visible]="true"><dxo-lookup [dataSource]="vehicleModels.store()" valueExpr="id" [displayExpr]="getVehicleModelDisplay"></dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.VIN" [caption]="'VIN'" [visible]="false" dataType="true"></dxi-column>
    <dxi-column dataField="vehicle.color" [caption]="'Color'" [visible]="true"><dxo-lookup [dataSource]="colors.store()" valueExpr="id" displayExpr="vehicleColorCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.type" [caption]="'Type'" [visible]="true"><dxo-lookup [dataSource]="types.store()" valueExpr="id" displayExpr="vehicleTypeCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.style" [caption]="'Style'" [visible]="true"><dxo-lookup [dataSource]="styles.store()" valueExpr="id" displayExpr="vehicleStyleCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.numberOfWheels" [caption]="'Number of Wheels'" [visible]="false" dataType="number"></dxi-column>
    <dxi-column dataField="vehicle.numberOfAxles" [caption]="'Number of Axels'" [visible]="false" dataType="number"></dxi-column>
    <dxi-column dataField="vehicle.numberOfCylinders" [caption]="'Number Of Cylinders'" [visible]="false" dataType="number"></dxi-column>
    <dxi-column dataField="vehicle.engineType" [caption]="'Engine Type'" [visible]="false" dataType="number"><dxo-lookup [dataSource]="engineTypes" valueExpr="id" displayExpr="vehicleEngineTypeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.tranmissionType" [caption]="'Transmission Type'" [visible]="false" dataType="number"><dxo-lookup [dataSource]="transmissionTypes" valueExpr="id" displayExpr="vehicleTransmissionTypeCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.odometerMileage" [caption]="'Odometer Mileage'" [visible]="false" dataType="string"></dxi-column>
    <dxi-column dataField="vehicle.fuelType" [caption]="'Fuel Type'" [visible]="false" dataType="number"><dxo-lookup [dataSource]="fuelTypes.store()" valueExpr="id" displayExpr="vehicleFuelTypeCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.tagInformation.tagNumber" dataType="string" [caption]="'Tag Number'" [visible]="false"></dxi-column>
    <dxi-column dataField="vehicle.tagInformation.tagState" dataType="number" [caption]="'Tag State'" [visible]="false"><dxo-lookup [dataSource]="states.store()" valueExpr="id" displayExpr="stateName"></dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.tagInformation.tagExpiresYear" dataType="string" [caption]="'Tag Expires'" [visible]="false"></dxi-column>
    <dxi-column dataField="vehicleGCICResults" [caption]="'CGIC Results'" [visible]="false"></dxi-column>
    <dxi-column dataField="vehicleRemarks" [caption]="'Remarks'" [visible]="false"></dxi-column>

    <dxi-column dataField="vehicle.ownerPerson.namePrefixCodeId" [visible]="false" [caption]="'Name Prefix'"><dxo-lookup [dataSource]="namePrefixCodes.store()" valueExpr="id" displayExpr="namePrefixDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.firstName" dataType="string" [caption]="'First Name'" [visible]="false"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.middleName" dataType="string" [caption]="'Middle Name'" [visible]="false"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.lastName" dataType="string" [caption]="'Last Name'" [visible]="false"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.dateOfBirth" dataType="date" [caption]="'Date of Birth'" [visible]="false"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.lastNameSuffixCodeId" [visible]="false" [caption]="'Name Suffix'"><dxo-lookup [dataSource]="nameSuffixCodes.store()" valueExpr="id" displayExpr="nameSuffixDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.socialSecurityNumber" [visible]="false" [caption]="'SSN'"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.driversLicenseNumber" [visible]="false" [caption]="'DL Number'"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.driversLicenseClass" [visible]="false" [caption]="'DL Class'"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.driversLicenseExpirationDate" dataType="date" [visible]="false" [caption]="'DL Expiration Date'"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.driversLicenseIssueDate" dataType="date" [visible]="false" [caption]="'DL Issue Date'"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.driversLicenseIssueState" [visible]="false" [caption]="'DL State'"><dxo-lookup [dataSource]="states.store()" valueExpr="id" displayExpr="stateName"></dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.location.streetNumber" [visible]="false" [caption]="'Street Number'"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.location.streetId" [visible]="false" [caption]="'Street Name'"><dxo-lookup [dataSource]="streetNames.store()" valueExpr="id" displayExpr="streetName"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.location.cityName" [visible]="false" [caption]="'City'"><dxo-lookup [dataSource]="cities.store()" valueExpr="id" displayExpr="cityName"></dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.location.zipCode" [visible]="false" [caption]="'Zip Code'"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.homePhoneNumber" [visible]="false" [caption]="'Home Phone'"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.workPhoneNumber" [visible]="false" [caption]="'Work Phone'"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.mobilePhoneNumber" [visible]="false" [caption]="'Mobile Number'"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.genderId" [visible]="false" [caption]="'Gender'"><dxo-lookup [dataSource]="genderCodes" valueExpr="id" displayExpr="genderDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.raceId" [visible]="false" [caption]="'Race'"><dxo-lookup [dataSource]="raceCodes" valueExpr="id" displayExpr="raceDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.ethnicityId" [visible]="false" [caption]="'Ethnicity'"><dxo-lookup [dataSource]="ethnicityCodes.store()" valueExpr="id" displayExpr="ethnicityCodeDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.height" dataType= "number" [visible]="false" [caption]="'Height'"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.weight" dataType= "number" [visible]="false" [caption]="'Weight'"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.hairColorId" [visible]="false" [caption]="'Hair Color'"><dxo-lookup [dataSource]="hairColorCodes.store()" valueExpr="id" displayExpr="hairColorCodeDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.hairTypeId" [visible]="false" [caption]="'Hair Type'"><dxo-lookup [dataSource]="hairTypeCodes.store()" valueExpr="id" displayExpr="hairTypeCodeDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.eyeColorId" [visible]="false" [caption]="'Eye Color'"><dxo-lookup [dataSource]="eyeColorCodes.store()" valueExpr="id" displayExpr="eyeColorCodeDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.eyewearId" [visible]="false" [caption]="'Eyewear'"><dxo-lookup [dataSource]="eyeWearCodes.store()" valueExpr="id" displayExpr="eyewearCodeDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.facialHairId" [visible]="false" [caption]="'Facial Hair'"><dxo-lookup [dataSource]="facialHairCodes.store()" valueExpr="id" displayExpr="facialHairCodeDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.isDeceased" dataType="boolean" [visible]="false" [caption]="'Deceased?'"></dxi-column>
    <dxi-column dataField="vehicle.ownerPerson.dateOfDeath" dataType="date" [visible]="false" [caption]="'Date of Death'"></dxi-column>

    <dxi-column dataField="vehicleDriverPerson.namePrefixCodeId" [visible]="false" [caption]="'Name Prefix'"><dxo-lookup [dataSource]="namePrefixCodes.store()" valueExpr="id" displayExpr="namePrefixDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.firstName" dataType="string" [caption]="'First Name'" [visible]="false"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.middleName" dataType="string" [caption]="'Middle Name'" [visible]="false"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.lastName" dataType="string" [caption]="'Last Name'" [visible]="false"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.dateOfBirth" dataType="date" [caption]="'Date of Birth'" [visible]="false"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.lastNameSuffixCodeId" [visible]="false" [caption]="'Name Suffix'"><dxo-lookup [dataSource]="nameSuffixCodes.store()" valueExpr="id" displayExpr="nameSuffixDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.socialSecurityNumber" [visible]="false" [caption]="'SSN'"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.driversLicenseNumber" [visible]="false" [caption]="'DL Number'"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.driversLicenseClass" [visible]="false" [caption]="'DL Class'"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.driversLicenseExpirationDate" dataType="date" [visible]="false" [caption]="'DL Expiration Date'"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.driversLicenseIssueDate" dataType="date" [visible]="false" [caption]="'DL Issue Date'"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.driversLicenseIssueState" [visible]="false" [caption]="'DL State'"><dxo-lookup [dataSource]="states.store()" valueExpr="id" displayExpr="stateName"></dxo-lookup></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.location.streetId" [visible]="false" [caption]="'Street Number'"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.location.streetId" [visible]="false" [caption]="'Street Name'"><dxo-lookup [dataSource]="streetNames.store()" valueExpr="id" displayExpr="streetName"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.location.cityName" [visible]="false" [caption]="'City'"><dxo-lookup [dataSource]="cities.store()" valueExpr="id" displayExpr="cityName"></dxo-lookup></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.location.zipCode" [visible]="false" [caption]="'Zip Code'"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.homePhoneNumber" [visible]="false" [caption]="'Home Phone'"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.workPhoneNumber" [visible]="false" [caption]="'Work Phone'"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.mobilePhoneNumber" [visible]="false" [caption]="'Mobile Number'"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.genderId" [visible]="false" [caption]="'Gender'"><dxo-lookup [dataSource]="genderCodes" valueExpr="id" displayExpr="genderDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.raceId" [visible]="false" [caption]="'Race'"><dxo-lookup [dataSource]="raceCodes" valueExpr="id" displayExpr="raceDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.ethnicityId" [visible]="false" [caption]="'Ethnicity'"><dxo-lookup [dataSource]="ethnicityCodes.store()" valueExpr="id" displayExpr="ethnicityCodeDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.height" dataType= "number" [visible]="false" [caption]="'Height'"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.weight" dataType= "number" [visible]="false" [caption]="'Weight'"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.hairColorId" [visible]="false" [caption]="'Hair Color'"><dxo-lookup [dataSource]="hairColorCodes.store()" valueExpr="id" displayExpr="hairColorCodeDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.hairTypeId" [visible]="false" [caption]="'Hair Type'"><dxo-lookup [dataSource]="hairTypeCodes.store()" valueExpr="id" displayExpr="hairTypeCodeDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.eyeColorId" [visible]="false" [caption]="'Eye Color'"><dxo-lookup [dataSource]="eyeColorCodes.store()" valueExpr="id" displayExpr="eyeColorCodeDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.eyewearId" [visible]="false" [caption]="'Eyewear'"><dxo-lookup [dataSource]="eyeWearCodes.store()" valueExpr="id" displayExpr="eyewearCodeDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.facialHairId" [visible]="false" [caption]="'Facial Hair'"><dxo-lookup [dataSource]="facialHairCodes.store()" valueExpr="id" displayExpr="facialHairCodeDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.isDeceased" dataType="boolean" [visible]="false" [caption]="'Deceased?'"></dxi-column>
    <dxi-column dataField="vehicleDriverPersonn.dateOfDeath" dataType="date" [visible]="false" [caption]="'Date of Death'"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.isDeceased" dataType="boolean" [visible]="false" [caption]="'Deceased?'"></dxi-column>
    <dxi-column dataField="vehicleDriverPerson.dateOfDeath" dataType="date" [visible]="false" [caption]="'Date of Death'"></dxi-column>

    <dxi-column dataField="isWrecker" [caption]="'Is Wrecker Needed?'" [visible]="false" dataType="boolean"></dxi-column>
    <dxi-column dataField="wreckerRotation" [caption]="'Wrecker Rotation'" [visible]="false"><dxo-lookup [dataSource]="wreckerRotationList.store()" valueExpr="id" displayExpr="rotationDescription" > </dxo-lookup></dxi-column>
    <dxi-column dataField="wreckerServerId" [caption]="'Wrecker Service'" [visible]="false"><dxo-lookup [dataSource]="wreckerServiceList.store()" valueExpr="id" displayExpr="wreckerServiceName" > </dxo-lookup></dxi-column>
    <dxi-column dataField="wreckerTowedTo" [caption]="'Towed To'" [visible]="false"></dxi-column>
    <dxi-column dataField="wreckerTowedDateTime" [caption]="'Towed Date Time'" [visible]="false" dataType="datetime"></dxi-column>
    <dxi-column dataField="wreckerRemarks" [caption]="'Wrecker Remarks'" [visible]="false"></dxi-column>
    <dxi-column dataField="wreckerTimeCalled" [caption]="'Wrecker Time Called'" [visible]="false" dataType="datetime"></dxi-column>
    <dxi-column dataField="wreckerTimeArrived" [caption]="'Wrecker Time Arrived'" [visible]="false" dataType="datetime"></dxi-column>
    <dxi-column dataField="isSameAsDriver" [caption]="'Same as Driver?'" [visible]="false" dataType="boolean"></dxi-column>
  </dx-data-grid>

<dx-popup
  class="popup"
  [width]="800"
  [height]="600"
  [showTitle]="true"
  title="Add / Edit Street"
  [dragEnabled]="false"
  [closeOnOutsideClick]="false"
  [(visible)]="popupVisible">
      <dx-form id="callForm" class="callForm" [formData]="selectedStreet" [labelLocation]="'top'">
        <dxi-item dataField="streetNamePreModifier" [label]="{text: 'Pre Modifier'}" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
        <dxi-item dataField="streetNamePreDirectionId" [label]="{text: 'Pre Direction'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: streetNameDirections,  valueExpr:'id', displayExpr:'streetNameDirectionCodeDescription', searchEnabled:true, searchExpr:'streetNameDirectionCodeDescription', searchMode:'startsWith' }"></dxi-item>
        <dxi-item dataField="streetName" [label]="{text: 'Street Name'}" [editorOptions]="{ stylingMode: 'filled' }" ></dxi-item>
        <dxi-item dataField="streetNameSuffixId" [colSpan]="1" [label]="{text: 'Suffix'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: streetNameSuffixs,  valueExpr:'id', displayExpr:'streetNameSuffixDescription', searchEnabled:true, searchExpr:'streetNameSuffixDescription', searchMode:'startsWith' }"></dxi-item>
        <dxi-item dataField="streetNamePostDirectionId" [label]="{text: 'Post Direction'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: streetNameDirections,  valueExpr:'id', displayExpr:'streetNameDirectionCodeDescription', searchEnabled:true, searchExpr:'streetNameDirectionCodeDescription', searchMode:'startsWith' }"></dxi-item>
        <dxi-item dataField="streetNamePostModifier" [label]="{text: 'Post Modifier'}" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>

        <dxi-item style="float: right;" [colSpan]="2">
            <dx-button
              text="Save"
              (onClick)="saveStreet()"
              style="margin-right:5px; margin-top: 18px;">
            </dx-button>
            <dx-button
              text="Cancel"
              (onClick)="cancelStreet()"
              style="margin-top: 18px;">
            </dx-button>
        </dxi-item>
      </dx-form>
  </dx-popup>
</div>

