
  <dx-accordion
    #accordion
    [collapsible]="false"
    [multiple]="true"
    [animationDuration]="300"
    [height]="window.innerHeight-60">
  <dxi-item title="Active" class="accordianHeader" [heightRatio]="1">
    <dx-list
      id="activeUnits"
      #activeUnitsList
      [dataSource]="activeUnits"
      [height]="window.innerHeight"
      [scrollingEnabled]="true"
      selectionMode = "single"
      (onItemClick)="selectUnit($event)"
      class="example-container"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="['callHistoryGrid', 'complainantForm', 'hospitalGrid', 'involvedPersonsGrid', 'unitContainer', 'vehicleGrid', 'callDetailForm', 'wreckerGrid']">
      <div *dxTemplate="let data of 'item'">
        <div
          id="switchdiv{{data.id}}"
          class="OFFICER unitName badge{{data.id}} active{{data.active}} example-box" cdkDrag [cdkDragData]="data">
            #{{data.badge_number}} : {{data.last_name}}, {{data.first_name}} <span style="float:right;">({{getUnitQueueCount(data)}})</span>
        </div>

        <dx-context-menu
          id="cm{{data.id}}"
          [items]="activeMenuItems"
          [width]="200"
          target="#switchdiv{{data.id}}"
          (onItemClick)="contextItemClick($event, data)">
        </dx-context-menu>
      </div>
    </dx-list>
  </dxi-item>
  <dxi-item title="Inactive" class="accordianHeader" [selected]="true" [heightRatio]="1">
    <dx-list
      id="inActiveUnits"
      #inActiveUnitsList
      [dataSource]="inActiveUnits"
      [height]="window.innerHeight"
      [scrollingEnabled]="true"
      selectionMode = "single"
      (onItemClick)="selectUnit($event)"
      class="example-container"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="['activeUnits', 'callHistoryGrid', 'complainantForm', 'hospitalGrid', 'involvedPersonsGrid', 'unitContainer', 'vehicleGrid', 'callDetailForm', 'wreckerGrid']">
      <div *dxTemplate="let data of 'item'">
        <div
          id="switchdiv{{data.id}}"
          class="OFFICER unitName badge{{data.id}} active{{data.active}} example-box" cdkDrag [cdkDragData]="data">
            #{{data.badge_number}} : {{data.last_name}}, {{data.first_name}} <span style="float:right;">({{getUnitQueueCount(data)}})</span>
        </div>

        <dx-context-menu
          id="cm{{data.id}}"
          [items]="inactiveMenuItems"
          [width]="200"
          target="#switchdiv{{data.id}}"
          (onItemClick)="contextItemClick($event, data)">
        </dx-context-menu>
      </div>
    </dx-list>
  </dxi-item>
</dx-accordion>

<app-unit-queue></app-unit-queue>
