
    <div class="listHeader" style="height: 45px;">Active Units</div>
    <dx-list
      id="activeUnits"
      #activeUnitsList
      [searchExpr]="'status'"
      [searchMode]="'startswith'"
      [searchValue]="'2'"
      [dataSource]="activeUnits"
      [height]="window.innerHeight/2 - 100"
      [scrollingEnabled]="true"
      selectionMode = "single"
      (onItemClick)="selectUnit($event)"
      class="example-container"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="['inActiveUnits', 'callHistoryGrid', 'complainantForm', 'hospitalGrid', 'involvedPersonsGrid', 'unitContainer', 'vehicleGrid', 'callDetailForm', 'wreckerGrid']">
      <div *dxTemplate="let data of 'item'">
        <div
          id="switchdiv{{data.id}}"
          class="OFFICER unitName badge{{data.id}} active{{data.active}} example-box" cdkDrag [cdkDragData]="data">
            <div style="display: inline-block;">
              #{{data.unitDescription}}<!--<span style="float:right;">({{getUnitQueueCount(data)}})</span>-->
            </div>
            <div style="display: inline-block;">
              #{{data.currentCall}} |  #{{data.location}}
            </div>
        </div>

        <dx-context-menu
          id="cm{{data.id}}"
          [items]="activeMenuItems"
          [width]="200"
          target="#switchdiv{{data.id}}"
          (onItemClick)="contextItemClick($event, data)">
        </dx-context-menu>
      </div>
    </dx-list>
    <div class="listHeader" style="border-top: solid 5px #476981; height: 45px;">Inactive Units</div>
    <dx-list
      id="inActiveUnits"
      #inActiveUnitsList
      [searchExpr]="'status'"
      [searchMode]="'startswith'"
      [searchValue]="'1'"
      [dataSource]="inactiveUnits"
      [height]="window.innerHeight/2 - 100"
      [scrollingEnabled]="true"
      selectionMode = "single"
      (onItemClick)="selectUnit($event)"
      class="example-container"
      cdkDropList
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="['activeUnits']">
      <div *dxTemplate="let data of 'item'">
        <div
          id="switchdiv{{data.id}}"
          class="OFFICER unitName badge{{data.id}} active{{data.active}} example-box" cdkDrag [cdkDragData]="data">
          <div style="display: inline-block;">
            #{{data.unitDescription}}<!--<span style="float:right;">({{getUnitQueueCount(data)}})</span>-->
          </div>
          <div style="display: inline-block;">
            Off Duty
          </div>
        </div>

        <dx-context-menu
          id="cm{{data.id}}"
          [items]="inactiveMenuItems"
          [width]="200"
          target="#switchdiv{{data.id}}"
          (onItemClick)="contextItemClick($event, data)">
        </dx-context-menu>
      </div>
    </dx-list>


<app-unit-queue></app-unit-queue>
