<dx-box
  direction="col"
  width="100%"
  [height]="window.innerHeight">
  <dxi-item
      class="rect header"
      [ratio]=".55">
      <app-header></app-header>
  </dxi-item>
  <dxi-item
      [ratio]="6"
      [baseSize]="0"
      class="content">
      <dx-box
          direction="row"
          width="100%">
          <dxi-item
              [ratio]="1">
            <app-active-list></app-active-list>
          </dxi-item>
          <dxi-item
              [ratio]="6">
              <dx-drawer
                openedStateMode="overlap"
                revealMode="expand"
                maxSize="400"
                minSize="0"
                position="right"
                template="template"
                [opened]="false"
                [height]="window.innerHeight/9 * 8.2"
                [closeOnOutsideClick]="true">
                <div *dxTemplate="let data of 'template'">
                  <app-dispatcher-history></app-dispatcher-history>
                </div>


                <dx-box
                  direction="col"
                  width="100%"
                  [height]="window.innerHeight - 70">
                  <dxi-item
                    class="rect callTableBox"
                    [ratio]="1">
                      <app-call-master></app-call-master>
                  </dxi-item>
                </dx-box>


            </dx-drawer>
          </dxi-item>
      </dx-box>
  </dxi-item>

</dx-box>
