<dx-data-grid id="addressTypeGrid"
    [dataSource]="personLookupService.agencyTypeList"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [showColumnHeaders]="true"
    height="350">
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-selection mode="single"></dxo-selection>
  <dxo-editing
    mode="popup"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true">
  </dxo-editing>
  <dxi-column dataField="id" dataType="string" [visible]="false"></dxi-column>
  <dxi-column dataField="agencyTypeCode" dataType="string"></dxi-column>
  <dxi-column dataField="agencyTypeCodeDescription" dataType="string"></dxi-column>
</dx-data-grid>
