<dx-toolbar class="header" [items]="menuItems"></dx-toolbar>
<dx-popup
    class="popup"
    [width]="'50%'"
    [height]="'50%'"
    [showTitle]="true"
    title="Officer Panel"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false"
    [(visible)]="officerPanelVisible"
    [showCloseButton]="true">
  <dx-data-grid id="ambulanceGrid"
      [dataSource]="officerService.getAllOfficersList()"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [showColumnHeaders]="true"
      height="350">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true">
    </dxo-editing>
    <dxi-column dataField="id" dataType="string" [visible]="false"></dxi-column>
    <dxi-column dataField="badge_number" dataType="string"></dxi-column>
    <dxi-column dataField="first_name" dataType="string"></dxi-column>
    <dxi-column dataField="last_name" dataType="Date"></dxi-column>
  </dx-data-grid>
</dx-popup>

<dx-popup
    class="popup"
    [width]="'50%'"
    [height]="'50%'"
    [showTitle]="true"
    title="Dispatcher Panel"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false"
    [(visible)]="dispatcherPanelVisible"
    [showCloseButton]="true">
  <dx-data-grid id="dispatcherGrid"
      [dataSource]="dispatcherService.getDispatcherList()"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [showColumnHeaders]="true"
      height="350">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true">
    </dxo-editing>
    <dxi-column dataField="id" dataType="string" [visible]="false"></dxi-column>
    <dxi-column dataField="userName" dataType="string"></dxi-column>
    <dxi-column dataField="fullName" dataType="Date"></dxi-column>
  </dx-data-grid>
</dx-popup>

<dx-popup
    class="popup"
    [width]="'50%'"
    [height]="'50%'"
    [showTitle]="true"
    title="Agency Panel"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false"
    [(visible)]="agencyPanelVisible"
    [showCloseButton]="true">
  <dx-data-grid id="agencyGrid"
      [dataSource]="agencyService.getAgencyList()"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [showColumnHeaders]="true"
      height="350">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true">
    </dxo-editing>
    <dxi-column dataField="id" dataType="string" [visible]="false"></dxi-column>
    <dxi-column dataField="agencyCode" dataType="string"></dxi-column>
    <dxi-column dataField="agencyTypeCodeId" dataType="string">
      <dxo-lookup
        [dataSource]="listDataService.getAgencyTypeList().store()"
        valueExpr="id"
        displayExpr="agencyTypeCodeDescription">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="ncicCode" dataType="string"></dxi-column>
    <dxi-column dataField="conversionNumber" dataType="string"></dxi-column>
  </dx-data-grid>
</dx-popup>

<app-admin-hospital></app-admin-hospital>

<dx-popup
    class="popup"
    [width]="'50%'"
    [height]="'50%'"
    [showTitle]="true"
    title="Agency Panel"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false"
    [(visible)]="availableUnitsPanelVisible"
    [showCloseButton]="true">
  <dx-data-grid id="hospitalGrid"
      [dataSource]="availableUnitService.getAvailableUnitList()"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [showColumnHeaders]="true"
      height="350">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true">
    </dxo-editing>
    <dxi-column dataField="id" dataType="string" [visible]="false"></dxi-column>
    <dxi-column dataField="unitDescription" dataType="string"></dxi-column>
    <dxi-column dataField="officerPersonId" dataType="string"></dxi-column>
    <dxi-column dataField="unitType" dataType="string"></dxi-column>
    <dxi-column dataField="unitAgencyId" dataType="string">
      <dxo-lookup
        [dataSource]="agencyService.getAgencyList().store()"
        valueExpr="id"
        displayExpr="agencyName">
      </dxo-lookup>
    </dxi-column>
  </dx-data-grid>
</dx-popup>
