<dx-box
  direction="col">
  <dxi-item
      [baseSize]="'50%'">
    <dx-toolbar
        class="detailsToolBar"
        width="100%">
      <dxi-item [location]="'center'" locateInMenu="never">
          <div style="font-size: large;">Active Officers</div>
      </dxi-item>
    </dx-toolbar>
    <dx-list
      id="activeOfficers"
      #activeOfficersList
      [dataSource]="activeOfficers"
      [height]="window.innerHeight / 2.4"
      selectionMode = "single"
      (onItemClick)="selectOfficer($event)"
      class="example-container"
      cdkDropList
      #activeOfficersDnD="cdkDropList"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="['callTabsContainer']">
      <div *dxTemplate="let data of 'item'">
        <div
          id="switchdiv{{data.id}}"
          class="OFFICER officerName badge{{data.id}} active{{data.active}} example-box" cdkDrag [cdkDragData]="data">
            #{{data.badge_number}} : {{data.last_name}}, {{data.first_name}} <span style="float:right;">({{getOfficerQueue(data)}})</span>
        </div>

        <dx-context-menu
          id="cm{{data.id}}"
          [items]="activeMenuItems"
          [width]="200"
          target="#switchdiv{{data.id}}"
          (onItemClick)="contextItemClick($event, data)">
        </dx-context-menu>
      </div>
    </dx-list>
  </dxi-item>
  <dxi-item
      [baseSize]="'50%'">
    <dx-toolbar
      class="detailsToolBar"
      width="100%">
      <dxi-item [location]="'center'" locateInMenu="never">
          <div style="font-size: large;">Inactive Officers</div>
      </dxi-item>
    </dx-toolbar>
    <dx-list
      id="inActiveOfficers"
      #inActiveOfficersList
      [dataSource]="inActiveOfficers"
      [height]="window.innerHeight / 2.4 - 4"
      selectionMode = "single"
      (onItemClick)="selectOfficer($event)"
      class="example-container"
      cdkDropList
      #inActiveOfficersListDnD="cdkDropList"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListConnectedTo]="[activeOfficersDnD]">
      <div *dxTemplate="let data of 'item'">
        <div
          id="switchdiv{{data.id}}"
          class="officerName badge{{data.id}} active{{data.active}} example-box" cdkDrag [cdkDragData]="data">
            #{{data.badge_number}} : {{data.last_name}}, {{data.first_name}} <span style="float:right;">({{getOfficerQueue(data)}})</span>
        </div>

        <dx-context-menu
          id="cm{{data.id}}"
          [items]="inactiveMenuItems"
          [width]="200"
          target="#switchdiv{{data.id}}"
          (onItemClick)="contextItemClick($event, data)">
        </dx-context-menu>
      </div>
    </dx-list>

  </dxi-item>
</dx-box>





<dx-popup
  class="popup"
  [width]="'75%'"
  [height]="'50%'"
  [showTitle]="true"
  title="Officer Call Queue"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="showOfficerQueue">
<div *dxTemplate="let data of 'content'">
    <dx-data-grid #gridContainer
      [dataSource]="officerQueue.toArray()"
      [remoteOperations]="false"
      [allowColumnReordering]="true"
      [rowAlternationEnabled]="true"
      [showBorders]="true">
      <dxi-column cellTemplate="cellTemplate" [width]="80"></dxi-column>
      <div *dxTemplate="let cell of 'cellTemplate'">
          <dx-button icon="arrowup" [stylingMode]="'text'" (onClick)="moveRowUp(cell, gridContainer)" *ngIf="cell.rowIndex > 0"></dx-button>
          <dx-button icon="arrowdown" [stylingMode]="'text'" (onClick)="moveRowDown()"></dx-button>
      </div>
      <dxi-column dataField="order" dataType="number" [sortIndex]="0" sortOrder="asc" [width]="40"></dxi-column>
      <dxi-column dataField="call.date" dataType="date"></dxi-column>
      <dxi-column dataField="call.time" dataType="string"></dxi-column>
      <dxi-column dataField="call.dispatcher_name" dataType="string"></dxi-column>
      <dxi-column dataField="location" dataType="string" [calculateCellValue]="createAddress"></dxi-column>
      <dxi-column dataField="call.call_type" dataType="string"></dxi-column>

      <dxi-column dataField="call.caller_name" dataType="string"></dxi-column>
    </dx-data-grid>
    <div style="width:100%; padding-top: 20px;">
        <dx-button text="Save" (onClick)="moveRowDown()" style="float:right"></dx-button>
    </div>
</div>
</dx-popup>

