<dx-list
  [dataSource]="activeOfficers"
  [height]="window.innerHeight/9 * 8.20"
  [searchEnabled]="true"
  selectionMode = "single"
  searchExpr="last_name"
  searchMode="contains"
  [nextButtonText]="'Load More Officers'"
  (onItemClick)="selectOfficer($event)">
  <div *dxTemplate="let data of 'item'">
    <div
      id="switchdiv{{data.id}}"
      class="officerName badge{{data.id}} active{{data.active}}">
        {{data.last_name}}, {{data.first_name}} ({{data.badge_number}})
    </div>

    <dx-context-menu
      id="cm{{data.id}}"
      [items]="menuItems"
      [width]="200"
      target="#switchdiv{{data.id}}"
      (onItemClick)="contextItemClick($event, data)">
    </dx-context-menu>
  </div>
</dx-list>



