<div *ngIf="callService.getActiveCall()">
  <dx-data-grid id="officerContainer"
    [dataSource]="callService.getActiveCall().officers"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [showColumnHeaders]="true"
    height="420">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection mode="single"></dxo-selection>

    <dxi-column dataField="time" dataType="string"></dxi-column>
    <dxi-column dataField="officer.last_name" dataType="string" caption="First Name"></dxi-column>
    <dxi-column dataField="officer.first_name" dataType="string" caption="Last Name"></dxi-column>
    <dxi-column dataField="officer.badge_number" dataType="string" caption="Badge Number"></dxi-column>
  </dx-data-grid>
</div>
