<div *ngIf="callService.getActiveCall()">
  <dx-data-grid id="officerContainer"
    [dataSource]="callService.getActiveCallDetails().officers"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [showColumnHeaders]="true"
    height="350"
    cdkDropList
    #inActiveOfficersListDnD="cdkDropList"
    (cdkDropListDropped)="drop($event)"
    cdkDropListConnectedTo="activeOfficers">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-editing
      mode="popup"
      [allowDeleting]="true"
      [allowAdding]="true">

    </dxo-editing>
    <dxi-column dataField="time" dataType="string"></dxi-column>
    <dxi-column dataField="officer.last_name" dataType="string" caption="First Name"></dxi-column>
    <dxi-column dataField="officer.first_name" dataType="string" caption="Last Name"></dxi-column>
    <dxi-column dataField="officer.badge_number" dataType="string" caption="Badge Number"></dxi-column>
  </dx-data-grid>
</div>
