<div *ngIf="activeCall">
  <dx-form id="detailsForm" class="callForm" [formData]="activeCall" height="350" [colCount]="2">
    <dxi-item itemType="group" caption="Call Time Information" [widthRatio]="1">
      <dxi-item dataField="receivedDateTime" dataType="Date">
          <dx-date-box id="received-date" width="100%" [(value)]="activeCall.receivedDateTime" type="datetime"></dx-date-box>
      </dxi-item>
      <dxi-item dataField="dispatchedDateTime" dataType="DateTime">
        <dx-date-box id="dispatched-date" width="100%" [(value)]="activeCall.dispatchedDateTime" type="datetime"></dx-date-box>
      </dxi-item>
      <dxi-item dataField="onHoldDateTime" dataType="Date">
        <dx-date-box id="onhold-date" width="100%" [(value)]="activeCall.onHoldDateTime" type="datetime"></dx-date-box>
      </dxi-item>
      <dxi-item dataField="closedDateTime" dataType="Date">
        <dx-date-box id="closed-date" width="100%" [(value)]="activeCall.closedDateTime" type="datetime"></dx-date-box>
      </dxi-item>
    </dxi-item>
    <dxi-item itemType="group" caption="Call Information" [widthRatio]="1">
        <dxi-item dataField="typeId" [label]="{text: 'Call Type'}" editorType="dxSelectBox" [editorOptions]="{ dataSource: callTypes,  valueExpr:'id', displayExpr: getCFSTypeDisplayValue, searchEnabled:true, searchExpr:'code', searchMode:'startsWith'}"></dxi-item>
        <dxi-item dataField="originatedId" [label]="{text: 'Originated From'}" editorType="dxSelectBox" [editorOptions]="{ items: callOriginated,  valueExpr:'id', displayExpr:'originatedFrom', searchEnabled:true, searchExpr:'originatedFrom', searchMode:'startsWith'}"></dxi-item>
        <dxi-item dataField="dispatchedByPerson.personId" [label]="{text: 'Dispatched By'}" editorType="dxSelectBox" [editorOptions]="{ dataSource: dispatchers, valueExpr:'personId', displayExpr:'fullName', searchEnabled:true, searchExpr:'fullName', searchMode:'startsWith'}"></dxi-item>
    </dxi-item>
    <dxi-item [colSpan]="2"
      itemType="button"
      horizontalAlignment="right"
      verticalAlignment="bottom"
      [buttonOptions]="buttonOptions">
    </dxi-item>
  </dx-form>
</div>

<dx-load-panel
  #loadPanel
  shadingColor="rgba(0,0,0,0.4)"
  [position]="{ of: '#detailsForm' }"
  [(visible)]="showWaitIndicator"
  [showIndicator]="true"
  [showPane]="true"
  [closeOnOutsideClick]="false">
</dx-load-panel>
