<dx-popup
    class="popup"
    [width]="'50%'"
    [height]="'50%'"
    [showTitle]="true"
    title="Agency Panel"
    [dragEnabled]="false"
    [closeOnOutsideClick]="false"
    [(visible)]="isVisible"
    [showCloseButton]="true">
  <dx-data-grid id="agencyGrid"
      [dataSource]="dsService.getAgencyList()"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [showColumnHeaders]="true"
      height="350">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true">
    </dxo-editing>
    <dxi-column dataField="id" dataType="string" [visible]="false"></dxi-column>
    <dxi-column dataField="agencyCode" dataType="string"></dxi-column>
    <dxi-column dataField="agencyTypeCodeId" dataType="string">
      <dxo-lookup
        [dataSource]="personLookupService.agencyTypeList"
        valueExpr="id"
        displayExpr="agencyTypeCodeDescription">
      </dxo-lookup>
    </dxi-column>
    <dxi-column dataField="ncicCode" dataType="string"></dxi-column>
    <dxi-column dataField="conversionNumber" dataType="string"></dxi-column>
  </dx-data-grid>
</dx-popup>
