.notesContainer{
  font-size: 18px;
  box-sizing: border-box;
  display: block;
  background-color: #328CC1;
}

.currentNoteTextField {
  color: gray;
}

.saveButton {
  background-color: #476981;
  color: white;
}
