<dx-toolbar
  [items]="callNotesToolbarItems"
  class="notesContainer" >
</dx-toolbar>
<div *ngIf="callService.getActiveCall()" class="detailsContainer">
  <dx-data-grid #callRemarksGrid id="callRemarksGrid"
      [dataSource]="callRemarksListDS"
      [rowAlternationEnabled]="true"
      [showBorders]="true"
      [showColumnHeaders]="true"
      height="240">
      <dxo-scrolling mode="virtual"></dxo-scrolling>
      <dxo-selection mode="single"></dxo-selection>
      <dxi-column dataField="effectiveDateTime" dataType="datetime" [sortIndex]="0" width="25%"></dxi-column>
      <dxi-column dataField="remarks" dataType="string"></dxi-column>
  </dx-data-grid>

  <hr>
  <dx-text-area class="currentNoteTextField"
    [(value)]="currentNote"
    [height]="80"
    placeholder="Type note here...">
  </dx-text-area>
  <hr>
  <dx-button class="saveButton"
    width='100%'
    text="Save Note"
    (onClick)="saveNote()">
  </dx-button>
</div>
