
.callGrid {
  padding: 5px;
  background-color: white;
}

.callForm {
  padding: 10px;
}

.fieldSet {
  padding: 0px;
  margin: 0px;
}

.formSelect {
  background-color: #328CC1;
}

.selectLabel{
  color: white;
  font-size: large;
}

::ng-deep .dx-datagrid-rowsview .dx-row > .dx-master-detail-cell {
  padding: 0px;
}


