<dx-accordion
    #accordion
    [collapsible]="false"
    [multiple]="false"
    [animationDuration]="300"
    [height]="window.innerHeight / 2 - 35">
  <dxi-item title="Calls" class="accordianHeader">
    <div class="formSelectContainer">
        <div class="dx-field formSelect">
          <div class="dx-field-value" >
            <div style="display:table-cell; vertical-align: middle;">
              <dx-select-box
                #callForm
                [dataSource]="callForms"
                displayExpr="name"
                valueExpr="id">
              </dx-select-box>
            </div>
            <div style="display:table-cell; vertical-align: middle;">
              <dx-button
                icon="tel"
                (onClick)="formSelected($event, callForm)">
              </dx-button>
            </div>
          </div>
        </div>
    </div>
    <dx-data-grid id="gridContainer" class="callGrid"
        [dataSource]="calls"
        [remoteOperations]="false"
        [allowColumnReordering]="true"
        [rowAlternationEnabled]="true"
        [showBorders]="true"
        [height]="window.innerHeight / 2 - 180"
        (onSelectionChanged)="selectionChanged($event)">
      <dxo-editing
        mode="popup"
        [allowUpdating]="true">
      </dxo-editing>
      <dxo-paging [pageSize]="20"></dxo-paging>
      <dxo-pager
          [showPageSizeSelector]="true"
          [allowedPageSizes]="[20, 40, 60]"
          [showInfo]="true">
      </dxo-pager>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-selection mode="single"></dxo-selection>
      <dxo-sorting mode="multiple"> </dxo-sorting>

      <dxi-column dataField="callStatusId" dataType="string" [caption]="'Call Status'" [sortIndex]="0" sortOrder="asc">
        <dxo-lookup
          [dataSource]="callStatus"
          valueExpr="id"
          displayExpr="callForServiceStatusDescription">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="receivedDateTime" dataType="string" [sortIndex]="1" sortOrder="desc"></dxi-column>
      <dxi-column dataField="dispatchedDateTime" dataType="string"></dxi-column>
      <dxi-column dataField="dispatchByPersonId" dataType="string" [caption]="'Dispatcher'">
        <dxo-lookup
          [dataSource]="dispatchers.store()"
          valueExpr="id"
          displayExpr="fullName">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="callTypeId" dataType="string" [caption]="'Call Type'">
        <dxo-lookup
          [dataSource]="callTypes"
          valueExpr="id"
          displayExpr="description">
       </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="locationPrimary.city" dataType="string" [caption]="'City'"></dxi-column>
      <dxi-column dataType="string" [calculateCellValue]="getComplainantName" [caption]="'Complainant'"></dxi-column>
    </dx-data-grid>
  </dxi-item>
  <dxi-item title="Search" class="accordianHeader">
    <dx-form id="callForm" class="callForm"
        [formData]="searchCall"
        height="350"
        [colCount]="2">
      <dxi-item itemType="group" caption="Call Information" [widthRatio]="1">
        <dxi-item dataField="receivedDateTime" dataType="Date">
            <dx-date-box
                id="selected-date"
                width="100%"
                [(value)]="searchCall.receivedDateTime">
            </dx-date-box>
        </dxi-item>
        <dxi-item dataField="dispatchedDateTime" dataType="Date">
          <dx-date-box
            id="selected-date"
            width="100%"
            [(value)]="searchCall.dispatchedDateTime">
        </dx-date-box>
        </dxi-item>
        <dxi-item dataField="callTypeId" dataType="string">
          <dxo-label text="Call Type"></dxo-label>
          <dx-select-box
            [dataSource]="callTypes"
            displayExpr="description"
            valueExpr="id"
            [value]="searchCall.callTypeId"
          ></dx-select-box>
        </dxi-item>
        <dxi-item dataField="callStatusId" dataType="string">
          <dxo-label text="Call Status"></dxo-label>
          <dx-select-box
            [dataSource]="callStatus"
            displayExpr="description"
            valueExpr="id"
            [value]="searchCall.callStatusId"
          ></dx-select-box>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" caption="Call Information" [widthRatio]="1">
          <dxi-item dataField="dispatchByPersonId" dataType="string">
            <dxo-label text="Dispatched By"></dxo-label>
            <dx-select-box
              [dataSource]="dispatchers"
              displayExpr="fullName"
              valueExpr="id"
              [value]="searchCall.dispatchByPersonId"
            ></dx-select-box>
          </dxi-item>
          <dxi-item dataField="searchCall.complainantPerson.fullName" dataType="string">
              <dxo-label text="Complainant Name"></dxo-label>
          </dxi-item>
      </dxi-item>
      <dxi-item [colSpan]="2"
         itemType="button"
        horizontalAlignment="right"
        [buttonOptions]="buttonOptions">
      </dxi-item>
    </dx-form>
  </dxi-item>
</dx-accordion>

