<dx-accordion
    #accordion
    [collapsible]="false"
    [multiple]="false"
    [animationDuration]="300"
    [height]="window.innerHeight / 2 - 35">
  <dxi-item title="Calls" class="accordianHeader">
    <div class="formSelectContainer">
        <div class="dx-field formSelect">
          <div class="dx-field-value" style="width: 100%;">
            <div style="display:table-cell; vertical-align: middle;  float: left">
                <dx-button
                icon="dx-icon dx-icon-column-chooser"
                (onClick)="showColumnChooser()">
              </dx-button>
            </div>
            <div style="display:table-cell; vertical-align: middle;  float: left; padding-left: 10px;">
                <dx-button
                  text="New Call"
                  (onClick)="startCall()">
                </dx-button>
            </div>
            <div style="display:table-cell; vertical-align: middle;  float: left; padding-left: 10px;">
                <dx-button
                  text="Active Calls"
                  (onClick)="filterCalls('callStatus', 1)">
                </dx-button>
              </div>
            <div style="display:table-cell; vertical-align: middle;  float: left; padding-left: 10px;">
              <dx-button
                text="My Calls"
                (onClick)="filterCalls('dispatcherId', this.authService.getUser().personId)">
              </dx-button>
              </div>
          </div>
        </div>
    </div>
    <dx-data-grid
        #mastergrid
        id="gridContainer" class="callGrid"
        [dataSource]="calls"
        [remoteOperations]="false"
        [allowColumnReordering]="true"
        [rowAlternationEnabled]="true"
        [showBorders]="true"
        [height]="window.innerHeight / 2 - 180"
        [focusedRowEnabled]="true"
        [focusedRowKey]="0"
        (onFocusedRowChanged)="selectionChanged($event)"
        [columnAutoWidth] = "true">
      <dxo-paging [pageSize]="20"></dxo-paging>
      <dxo-pager
          [showPageSizeSelector]="true"
          [allowedPageSizes]="[20, 40, 60]"
          [showInfo]="true">
      </dxo-pager>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-selection mode="single"></dxo-selection>
      <dxo-sorting mode="multiple"> </dxo-sorting>
      <dxo-state-storing [enabled]="true" type="localStorage" storageKey="storage"></dxo-state-storing>
      <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

      <dxi-column dataField="typeId" dataType="string" [caption]="'Call Type'">
        <dxo-lookup [dataSource]="callTypes.store()" valueExpr="id" displayExpr="description"> </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="complainantPerson.fullName" dataType="string" [caption]="'Complainant'" [calculateDisplayValue]="getComplainantDisplayValue"></dxi-column>
      <dxi-column dataField="dispatchedByPerson.fullName" dataType="string" [caption]="'Dispatcher'"></dxi-column>
      <dxi-column dataField="callDispositionStatusId" dataType="string" [caption]="'Disposition Status'" [sortIndex]="0" sortOrder="asc" [visible]="false">
        <dxo-lookup [dataSource]="callDispositionStatus" valueExpr="id" displayExpr="callForServiceDispositionStatusDescription"></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="receivedDateTime" dataType="datetime" [sortIndex]="1" sortOrder="desc" [format]="'shortDateShortTime'" [caption]="'Received Time'"></dxi-column>
      <dxi-column dataField="dispatchedDateTime" dataType="datetime" [format]="'shortDateShortTime'" [caption]="'Dispatched Time'"></dxi-column>

      <dxi-column dataField="onHoldDateTime" dataType="datetime" [format]="'shortDateShortTime'" [caption]="'On Hold Time'" [visible]="false"></dxi-column>
      <dxi-column dataField="closedDateTime" dataType="datetime" [format]="'shortDateShortTime'" [caption]="'Closed Time'" [visible]="false"></dxi-column>
      <dxi-column dataType="number" dataField="callForServiceCodePriorityOrder" [caption]="'Code Priority Order'" [visible]="false"></dxi-column>

      <dxi-column dataField="locationPrimary.streetNumber" dataType="string" [caption]="'Street Number'" [visible]="true"></dxi-column>
      <dxi-column dataField="locationPrimary.streetId" dataType="string" [caption]="'Street Name'" [visible]="true">
          <dxo-lookup [dataSource]="streetNames.store()" valueExpr="id" displayExpr="streetName"></dxo-lookup>
      </dxi-column>
      <dxi-column dataField="locationPrimary.cityId" dataType="string" [caption]="'City'" [visible]="true">
          <dxo-lookup [dataSource]="cityCodes.store()" valueExpr="id" displayExpr="cityName"></dxo-lookup>
      </dxi-column>

      <dxi-column dataField="secondaryLocationLocation" dataType="string" [caption]="'Secondary Location'" [visible]="false"></dxi-column>
      <dxi-column dataType="boolean" dataField="isAlertTimeActive" [caption]="'Alert Active?'" [visible]="false"></dxi-column>
      <dxi-column dataType="number" dataField="alertTimeInterval" [caption]="'Alert Time Interval'" [visible]="false"></dxi-column>
      <dxi-column dataType="string" dataField="alertTimeStart" [caption]="'Alert Time Start'" [visible]="false"></dxi-column>
    </dx-data-grid>
  </dxi-item>

  <dxi-item title="Search" class="accordianHeader">
    <dx-form id="callForm" class="callForm" [formData]="searchCall" height="350" [colCount]="2">
      <dxi-item itemType="group" caption="Call Time Information" [widthRatio]="1">
        <dxi-item dataField="receivedDateTime" dataType="Date">
            <dx-date-box id="received-date" width="100%" [(value)]="searchCall.receivedDateTime"></dx-date-box>
        </dxi-item>
        <dxi-item dataField="dispatchedDateTime" dataType="Date">
          <dx-date-box id="dispatched-date" width="100%" [(value)]="searchCall.dispatchedDateTime"></dx-date-box>
        </dxi-item>
        <dxi-item dataField="onHoldDateTime" dataType="Date">
          <dx-date-box id="onhold-date" width="100%" [(value)]="searchCall.onHoldDateTime"></dx-date-box>
        </dxi-item>
        <dxi-item dataField="closedDateTime" dataType="Date">
          <dx-date-box id="closed-date" width="100%" [(value)]="searchCall.closedDateTime"></dx-date-box>
        </dxi-item>
      </dxi-item>
      <dxi-item itemType="group" caption="Call Information" [widthRatio]="1">
          <dxi-item dataField="callForServiceTypeId" dataType="string">
            <dxo-label text="Call Type"></dxo-label>
            <dx-select-box [dataSource]="callTypes" displayExpr="description" valueExpr="id" [value]="searchCall.typeId"></dx-select-box>
          </dxi-item>
          <dxi-item dataField="dispatchOriginatedId" dataType="string">
            <dxo-label text="Call Originated"></dxo-label>
            <dx-select-box [dataSource]="callOriginated" displayExpr="originatedFrom" valueExpr="id" [value]="searchCall.originatedId"></dx-select-box>
          </dxi-item>
          <dxi-item dataField="dispatchByPerson" dataType="string">
            <dxo-label text="Dispatched By"></dxo-label>
            <dx-select-box [dataSource]="dispatchers" displayExpr="fullName" valueExpr="id" [value]="searchCall.dispatchedByPerson"></dx-select-box>
          </dxi-item>
          <dxi-item dataField="searchCall.complainantPerson.fullName" dataType="string">
            <dxo-label text="Complainant Name"></dxo-label>
          </dxi-item>
      </dxi-item>
      <dxi-item [colSpan]="2" itemType="button" horizontalAlignment="right" [buttonOptions]="buttonOptions"></dxi-item>
    </dx-form>
  </dxi-item>
</dx-accordion>

<dx-popup
  class="popup"
  [width]="800"
  [height]="800"
  [showTitle]="true"
  title="Start A Call"
  [dragEnabled]="false"
  [closeOnOutsideClick]="false"
  [(visible)]="popupVisible">
      <dx-form id="callForm" class="callForm" [formData]="newCall">
          <dxi-item itemType="group" caption="Call Information" [widthRatio]="1">
              <dxi-item dataField="typeId" [label]="{text: 'Call Type'}" editorType="dxSelectBox" [editorOptions]="{ dataSource: callTypes,  valueExpr:'id', displayExpr: getCFSTypeDisplayValue}"></dxi-item>
              <dxi-item dataField="originatedId" [label]="{text: 'Originated From'}" editorType="dxSelectBox" [editorOptions]="{ items: callOriginated,  valueExpr:'id', displayExpr:'originatedFrom'}"></dxi-item>
              <dxi-item dataField="dispatchedByPerson.personId" [label]="{text: 'Dispatched By'}" editorType="dxSelectBox" [editorOptions]="{ dataSource: dispatchers, valueExpr:'personId', displayExpr:'fullName'}"></dxi-item>
              <dxi-item dataField="receivedDateTime" editorType="dxDateBox" [editorOptions]="{ type: 'datetime' }"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" caption="Caller Name" [widthRatio]="1" [colCount]="3">
            <dxi-item dataField="complainantPerson.id" dataType="number" [visible]="false"></dxi-item>
            <dxi-item dataField="complainantPerson.firstName" dataType="string" [label]="{text: 'First'}"></dxi-item>
            <dxi-item dataField="complainantPerson.middleName" dataType="string" [label]="{text: 'Middle'}"></dxi-item>
            <dxi-item dataField="complainantPerson.lastName" dataType="string" [label]="{text: 'Last'}"></dxi-item>
          </dxi-item>
          <dxi-item itemType="group" caption="Address" [colCount]="2">
            <dxi-item dataField="locationPrimary.addressTypeId" [label]="{text: 'Address Type'}" editorType="dxSelectBox" [editorOptions]="{ dataSource: addressTypeCodes,  valueExpr:'id', displayExpr:'description', searchEnabled:true, searchExpr:'description', searchMode:'startsWith'}"></dxi-item>
            <dxi-item dataField="locationPrimary.streetNumber" [label]="{text: 'Street Number'}"></dxi-item>
            <dxi-item dataField="locationPrimary.streetId" [label]="{text: 'Street Name'}" editorType="dxSelectBox" [editorOptions]="{ dataSource: streetNames,  valueExpr:'id', displayExpr:'streetName', searchEnabled:true, searchExpr:'streetName', searchMode:'startsWith'}"></dxi-item>
            <dxi-item dataField="locationPrimary.streetNumberSuffix" [label]="{text: 'Street Name Suffix'}"></dxi-item>
            <dxi-item dataField="locationPrimary.cityId" [label]="{text: 'City'}" editorType="dxSelectBox" [editorOptions]="{ dataSource: cityCodes,  valueExpr:'id', displayExpr:'cityName', searchEnabled:true, searchExpr:'cityName', searchMode:'startsWith'}"></dxi-item>
          </dxi-item>
          <dxi-item [colSpan]="2"
            itemType="button"
            horizontalAlignment="right"
            verticalAlignment="bottom"
            [buttonOptions]="buttonOptions">
          </dxi-item>
        </dx-form>
</dx-popup>

