.accordianHeader {
  font-size: small;
  padding: 0px;
}

::ng-deep .dx-accordion-item-title {
  padding: 10px;

}

.callGrid {
  padding: 0px;
}

.callForm {
  padding: 10px;
}

.fieldSet {
  padding: 0px;
  margin: 0px;
}

.formSelect {
  background-color: #328CC1;
}

.formSelectContainer {
  background-color: #328CC1;
  width: 100%;
  text-align: -webkit-right;
  padding: 5px;
}

.selectLabel{
  color: white;
  font-size: large;
}

::ng-deep .dx-datagrid-rowsview .dx-row > .dx-master-detail-cell {
  padding: 0px;
}


