<div class="formSelectContainer">
      <div class="dx-field formSelect">
        <div class="dx-field-value" >
          <div style="display:table-cell; vertical-align: middle;">
            <dx-select-box
              #callForm
              [dataSource]="callForms"
              displayExpr="name"
              valueExpr="id">
            </dx-select-box>
          </div>
          <div style="display:table-cell; vertical-align: middle;">
            <dx-button
              icon="tel"
              (onClick)="formSelected($event, callForm)">
            </dx-button>
          </div>
        </div>
      </div>
</div>
<dx-data-grid id="gridContainer"
    [dataSource]="calls"
    [remoteOperations]="false"
    [allowColumnReordering]="true"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    (onRowClick)="callSelected($event)"
    [masterDetail]="{ enabled: true, template: 'detail' }"
    [height]="window.innerHeight - 130"
    (onRowPrepared)="callSelected($event)"
    (onInitialized)="tableInitialized()">

    <dxo-editing
      mode="popup"
      [allowUpdating]="true">
      <dxo-popup
        title="Employee Info"
        [showTitle]="true"
        [width]="700"
        [height]="345"
        [position]="{ my: 'top', at: 'top', of: window }">
        </dxo-popup>
    </dxo-editing>
    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[20, 40, 60]"
        [showInfo]="true">
    </dxo-pager>
    <dxo-filter-row
        [visible]="true"></dxo-filter-row>
    <dxo-header-filter
        [visible]="true"></dxo-header-filter>
    <dxo-selection mode="single"></dxo-selection>

    <dxo-sorting mode="multiple"> </dxo-sorting>

    <dxi-column dataField="date" dataType=date [sortIndex]="0" sortOrder="desc"></dxi-column>
    <dxi-column dataField="time" dataType=dat [sortIndex]="1" sortOrder="desc"></dxi-column>
    <dxi-column dataField="dispatcher_name" dataType="string"></dxi-column>
    <dxi-column dataField="call_type" dataType="string"></dxi-column>
    <dxi-column dataField="location" dataType="string" [calculateCellValue]="createAddress"></dxi-column>
    <dxi-column dataField="caller_name" dataType="string"></dxi-column>

    <div *dxTemplate="let call of 'detail'">
      <dx-box
        direction="row"
        width="100%"
        [height]="window.innerHeight / 2">
        <dxi-item
          class="rect callDetailsOfficersBox"
          [ratio]="1">
          <app-call-officers></app-call-officers>
        </dxi-item>
        <dxi-item
          class="rect callDetailsBox"
          [ratio]="2">
          <app-call-details></app-call-details>
        </dxi-item>
        <dxi-item
          class="rect callDetailsNotesBox"
          [ratio]="1">
          <app-call-notes></app-call-notes>
        </dxi-item>
      </dx-box>
    </div>
</dx-data-grid>
