<div *ngIf="callService.getActiveCall()">
  <dx-data-grid id="involvedPersonsGrid"
    [dataSource]="involvedPersonsList"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [showColumnHeaders]="true"
    height="350"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="['activeUnits']"
    (onRowUpdating)="updateRow($event)">>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-editing
      mode="popup"
      [refreshMode]="'full'"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
      [useIcons]="true">
      <dxo-popup title="Involved Person" [showTitle]="true" [width]="1000" [height]="700"></dxo-popup>
      <dxo-form [width]="'200%'" [labelLocation]="'top'">
        <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }" caption="Involved Person" [widthRatio]="1">
          <dxi-tab title="Person" width="100%" [colCount]="3">
            <dxi-item itemType="group" caption="Name" [colCount]="5" [colSpan]="2">
              <dxi-item dataField="contactTypeId" [colSpan]="5" [label]="{text: 'Contact Type'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: contactCodes,  valueExpr:'id', displayExpr:'contactTypeCodeDescription'}"></dxi-item>
              <dxi-item dataField="involvedPerson.namePrefixCodeId" [colSpan]="1" [label]="{text: 'Prefix'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: namePrefixCodes,  valueExpr:'id', displayExpr:'namePrefixDescription'}"></dxi-item>
              <dxi-item dataField="involvedPerson.firstName" [colSpan]="2" [editorOptions]="{ stylingMode: 'filled'}"></dxi-item>
              <dxi-item dataField="involvedPerson.middleName" [colSpan]="2" [editorOptions]="{ stylingMode: 'filled'}"></dxi-item>
              <dxi-item dataField="involvedPerson.lastName" [colSpan]="3" [editorOptions]="{ stylingMode: 'filled'}"></dxi-item>
              <dxi-item dataField="involvedPerson.lastNameSuffixCodeId" [colSpan]="2" [label]="{text: 'Suffix'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: lastNameSuffixCodes,  valueExpr:'id', displayExpr:'nameSuffixDescription'}"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Information" [colSpan]="1">
              <dxi-item dataField="involvedPerson.dateOfBirth" [editorOptions]="{ stylingMode: 'filled'}"></dxi-item>
              <dxi-item dataField="involvedPerson.socialSecurityNumber" [editorOptions]="{ stylingMode: 'filled'}"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Driver Licence" [colSpan]="3" [colCount]="5">
              <dxi-item dataField="involvedPerson.driversLicenseState" [label]="{text: 'DL State'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: states,  valueExpr:'id', displayExpr:'stateName'}"></dxi-item>
              <dxi-item dataField="involvedPerson.driversLicenseNumber" [editorOptions]="{ stylingMode: 'filled'}"></dxi-item>
              <dxi-item dataField="involvedPerson.driversLicenseExpirationDate" [editorOptions]="{ stylingMode: 'filled'}"></dxi-item>
              <dxi-item dataField="involvedPerson.driversLicenseIssueDate" [editorOptions]="{ stylingMode: 'filled'}"></dxi-item>
              <dxi-item dataField="involvedPerson.driversLicenseClass" [colSpan]="2" [label]="{text: 'DL Class'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: idClass, valueExpr:'id', displayExpr:'description'}"></dxi-item>
            </dxi-item>
          </dxi-tab>
          <dxi-tab title="Address" width="100%" [colCount]="2">
            <dxi-item itemType="group" caption="Address" [colCount]="4">
              <dxi-item dataField="involvedPerson.location.addressTypeId" [colSpan]="4" [label]="{text: 'Address Type'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: addressTypes,  valueExpr:'id', displayExpr:'description', searchEnabled:true, searchExpr:'description', searchMode:'startsWith'}"></dxi-item>
              <dxi-item dataField="involvedPerson.location.streetNumber" [colSpan]="1" [label]="{text: 'Number'}" [editorOptions]="{ stylingMode: 'filled'}"></dxi-item>
              <dxi-item dataField="involvedPerson.location.streetId" [colSpan]="2" [label]="{text: 'Street Name'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: streetNames,  valueExpr:'id', displayExpr: getStreetName, searchEnabled:true, searchExpr:'streetName', searchMode:'startsWith'}"></dxi-item>

              <dxi-item [colSpan]="1" [label]="{text: 'Manage', visible:false }">
                <dx-button
                  icon="add"
                  (onClick)="addStreet()"
                  style="margin-right:10px; margin-top: 18px;">
                </dx-button>
                <dx-button
                  icon="edit"
                  (onClick)="editStreet()"
                  style="margin-top: 18px;">
                </dx-button>
              </dxi-item>

              <dxi-item dataField="involvedPerson.location.cityId" [colSpan]="2" [label]="{text: 'City'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: cities,  valueExpr:'id', displayExpr: getCityName , searchEnabled:true, searchExpr:'cityName', searchMode:'startsWith'}"></dxi-item>
              <dxi-item dataField="involvedPerson.location.countyId" [colSpan]="2" [label]="{text: 'County'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: counties,  valueExpr:'id', displayExpr:'countyName'}"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Location" [colCount]="4">
              <dxi-item dataField="involvedPerson.location.zoneId" [colSpan]="2" [label]="{text: 'Zone'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: zones,  valueExpr:'id', displayExpr:'description', searchEnabled:true, searchExpr:'description', searchMode:'startsWith'}"></dxi-item>
              <dxi-item dataField="involvedPerson.location.patrolAreaId" [colSpan]="2" [label]="{text: 'Patrol Area'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: patrolAreaCodes,  valueExpr:'id', displayExpr:'patrolAreaCodeDescription'}"></dxi-item>
              <dxi-item dataField="involvedPerson.location.latitude" [colSpan]="2" [label]="{text: 'Latitude'}" [editorOptions]="{ stylingMode: 'filled'}"></dxi-item>
              <dxi-item dataField="involvedPerson.location.longitude" [colSpan]="2" [label]="{text: 'Longitude'}"[editorOptions]="{ stylingMode: 'filled'}"></dxi-item>
            </dxi-item>
          </dxi-tab>
          <dxi-tab title="Contact">
            <dxi-item dataField="involvedPerson.homePhoneNumber" [editorOptions]="{ stylingMode: 'filled', mask: '(000) 000-0000' }"></dxi-item>
            <dxi-item dataField="involvedPerson.workPhoneNumber" [editorOptions]="{ stylingMode: 'filled', mask: '(000) 000-0000' }"></dxi-item>
            <dxi-item dataField="involvedPerson.mobilePhoneNumber" [editorOptions]="{ stylingMode: 'filled', mask: '(000) 000-0000' }"></dxi-item>
          </dxi-tab>
          <dxi-tab title="Description" [colCount]="2">
            <dxi-item dataField="involvedPerson.genderId" [label]="{text: 'Gender'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: genderCodes,  valueExpr:'id', displayExpr:'genderDescription'}"></dxi-item>
            <dxi-item dataField="involvedPerson.raceId" [label]="{text: 'Race'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: raceCodes,  valueExpr:'id', displayExpr:'raceDescription'}"></dxi-item>
            <dxi-item dataField="involvedPerson.ethnicityId" [label]="{text: 'Ethnicity'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: ethnicityCodes,  valueExpr:'id', displayExpr:'ethnicityCodeDescription'}"></dxi-item>
            <dxi-item dataField="involvedPerson.eyeColorId" [label]="{text: 'Eye Color'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', datasource: eyeColorCodes,  valueExpr:'id', displayExpr:'eyeColorCodeDescription'}"></dxi-item>

            <dxi-item dataField="involvedPerson.height" [editorOptions]="{ stylingMode: 'filled'}"></dxi-item>
            <dxi-item dataField="involvedPerson.weight" [editorOptions]="{ stylingMode: 'filled'}"></dxi-item>

            <dxi-item dataField="involvedPerson.hairColorId" [label]="{text: 'Hair Color'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: hairColorCodes,  valueExpr:'id', displayExpr:'hairColorCodeDescription'}"></dxi-item>
            <dxi-item dataField="involvedPerson.hairTypeId" [label]="{text: 'Hair Type'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: hairCodes,  valueExpr:'id', displayExpr:'hairTypeCodeDescription'}"></dxi-item>
            <dxi-item dataField="involvedPerson.eyewearId" [label]="{text: 'Eyewear'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: eyeWearCodes,  valueExpr:'id', displayExpr:'eyewearCodeDescription'}"></dxi-item>
            <dxi-item dataField="involvedPerson.facialHairId" [label]="{text: 'Facial Hair'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: facialHairCodes,  valueExpr:'id', displayExpr:'facialHairCodeDescription'}"></dxi-item>
          </dxi-tab>
          <dxi-tab title="Injury" [colCount]="8">
            <dxi-item dataField="isAmbulanceRequired" [colSpan]="1" [editorOptions]="{ stylingMode: 'filled'}"></dxi-item>
            <dxi-item dataField="callForServiceHospitalId" [colSpan]="3" [label]="{text: 'Hospital'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: hospitalCodes,  valueExpr:'id', displayExpr:'hospitalName'}"></dxi-item>
            <dxi-item dataField="involvedPerson.isDeceased" [colSpan]="1" [editorOptions]="{ stylingMode: 'filled'}"></dxi-item>
            <dxi-item dataField="involvedPerson.dateOfDeath" [colSpan]="3" [editorOptions]="{ stylingMode: 'filled'}"></dxi-item>
            <dxi-item dataField="ambulanceRemarks" [colSpan]="8" editorType="dxTextArea" [editorOptions]="{ stylingMode: 'filled', height: 150 }"></dxi-item>
          </dxi-tab>
          <dxi-tab title="Remarks">
            <dxi-item dataField="remarks" editorType="dxTextArea" [editorOptions]="{ stylingMode: 'filled', height: 200 }"></dxi-item>
          </dxi-tab>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxi-column dataField="contactTypeId" dataType="number" [caption]="'Contact Type'"><dxo-lookup [dataSource]="contactCodes.store()" valueExpr="id" displayExpr="contactTypeCodeDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.namePrefixCodeId" [visible]="false" [caption]="'Name Prefix'"><dxo-lookup [dataSource]="namePrefixCodes.store()" valueExpr="id" displayExpr="namePrefixDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.firstName" dataType="string" [caption]="'First Name'"></dxi-column>
    <dxi-column dataField="involvedPerson.middleName" dataType="string" [caption]="'Middle Name'"></dxi-column>
    <dxi-column dataField="involvedPerson.lastName" dataType="string" [caption]="'Last Name'"></dxi-column>
    <dxi-column dataField="involvedPerson.lastNameSuffixCodeId" [visible]="false" [caption]="'Last Name Suffix'"><dxo-lookup [dataSource]="lastNameSuffixCodes.store()" valueExpr="id" displayExpr="nameSuffixDescription"> </dxo-lookup></dxi-column>

    <dxi-column dataField="involvedPerson.dateOfBirth" dataType="date" [caption]="'Date of Birth'"></dxi-column>
    <dxi-column dataField="involvedPerson.socialSecurityNumber" [visible]="false" [caption]="'SSN'"></dxi-column>

    <dxi-column dataField="involvedPerson.driversLicenseState" [visible]="false" [caption]="'DL State'"><dxo-lookup [dataSource]="states.store()" valueExpr="id" displayExpr="stateName"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.driversLicenseNumber" [visible]="false" [caption]="'DL Number'"></dxi-column>
    <dxi-column dataField="involvedPerson.driversLicenseClass" [visible]="false" [caption]="'DL Class'"><dxo-lookup [dataSource]="idClass.store()" valueExpr="id" displayExpr="description"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.driversLicenseExpirationDate" dataType="date" [visible]="false" [caption]="'DL Expiration Date'"></dxi-column>
    <dxi-column dataField="involvedPerson.driversLicenseIssueDate" dataType="date" [visible]="false" [caption]="'DL Issue Date'"></dxi-column>

    <dxi-column dataField="involvedPerson.location.addressTypeId" [visible]="false" [caption]="'Address Type'"><dxo-lookup [dataSource]="addressTypes.store()" valueExpr="id" displayExpr="description"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.location.streetNumber" [visible]="false" [caption]="'Street Number'"></dxi-column>
    <dxi-column dataField="involvedPerson.location.streetId" [visible]="false" [caption]="'Street Name'"><dxo-lookup [dataSource]="streetNames.store()" valueExpr="id" displayExpr="streetName"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.involvedPerson.cityName" [visible]="false" [caption]="'City'"><dxo-lookup [dataSource]="cities.store()" valueExpr="id" displayExpr="cityName"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.involvedPerson.zipCode" [visible]="false" [caption]="'Zip Code'"></dxi-column>
    <dxi-column dataField="involvedPerson.location.countyId" [visible]="false" [caption]="'County'"> <dxo-lookup [dataSource]="counties.store()" valueExpr="id" displayExpr="countyName"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.location.zoneId" [visible]="false" [caption]="'Zone'"> <dxo-lookup [dataSource]="zones.store()" valueExpr="id" displayExpr="description"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.location.patrolAreaId" [visible]="false" [caption]="'Patrol Area'"> <dxo-lookup [dataSource]="patrolAreaCodes" valueExpr="id" displayExpr="patrolAreaCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.location.latitude" [visible]="false" [caption]="'Latitude'"></dxi-column>
    <dxi-column dataField="involvedPerson.location.longitude" [visible]="false" [caption]="'Longitude'"></dxi-column>

    <dxi-column dataField="involvedPerson.homePhoneNumber" [visible]="false" [caption]="'Home Phone'"></dxi-column>
    <dxi-column dataField="involvedPerson.workPhoneNumber" [visible]="false" [caption]="'Work Phone'"></dxi-column>
    <dxi-column dataField="involvedPerson.mobilePhoneNumber" [visible]="false" [caption]="'Mobile Number'"></dxi-column>

    <dxi-column dataField="involvedPerson.genderId" [visible]="false" [caption]="'Gender'"> <dxo-lookup [dataSource]="genderCodes" valueExpr="id" displayExpr="genderDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.raceId" [visible]="false" [caption]="'Race'"> <dxo-lookup [dataSource]="raceCodes" valueExpr="id" displayExpr="raceDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.ethnicityId" [visible]="false" [caption]="'Ethnicity'"> <dxo-lookup [dataSource]="ethnicityCodes.store()" valueExpr="id" displayExpr="ethnicityCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.height" dataType= "number" [visible]="false" [caption]="'Height'"></dxi-column>
    <dxi-column dataField="involvedPerson.weight" dataType= "number" [visible]="false" [caption]="'Weight'"></dxi-column>
    <dxi-column dataField="involvedPerson.hairColorId" [visible]="false" [caption]="'Hair Color'"> <dxo-lookup [dataSource]="hairColorCodes.store()" valueExpr="id" displayExpr="hairColorCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.hairTypeId" [visible]="false" [caption]="'Hair Type'"> <dxo-lookup [dataSource]="hairTypeCodes.store()" valueExpr="id" displayExpr="hairTypeCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.eyeColorId" [visible]="false" [caption]="'Eye Color'"> <dxo-lookup [dataSource]="eyeColorCodes.store()" valueExpr="id" displayExpr="eyeColorCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.eyewearId" [visible]="false" [caption]="'Eyewear'"> <dxo-lookup [dataSource]="eyeWearCodes.store()" valueExpr="id" displayExpr="eyewearCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.facialHairId" [visible]="false" [caption]="'Facial Hair'"> <dxo-lookup [dataSource]="facialHairCodes.store()" valueExpr="id" displayExpr="facialHairCodeDescription"></dxo-lookup></dxi-column>

    <dxi-column dataField="isAmbulanceRequired" [visible]="false" [caption]="'Ambulance?'" dataType="boolean"></dxi-column>
    <dxi-column dataField="callForServiceHospitalId" [visible]="false" [caption]="'Hospital Id'"> <dxo-lookup [dataSource]="hospitalCodes.store()" valueExpr="id" displayExpr="hospitalName"></dxo-lookup></dxi-column>
    <dxi-column dataField="ambulanceRemarks" [visible]="false" dataType="textArea" [caption]="'Remarks'"></dxi-column>
    <dxi-column dataField="involvedPerson.isDeceased" dataType="boolean" [visible]="false" [caption]="'Deceased?'"></dxi-column>
    <dxi-column dataField="involvedPerson.dateOfDeath" dataType="date" [visible]="false" [caption]="'Date of Death'"></dxi-column>

    <dxi-column dataField="remarks" [visible]="false" [caption]="'Remarks'"></dxi-column>
  </dx-data-grid>

  <dx-popup
  class="popup"
  [width]="800"
  [height]="600"
  [showTitle]="true"
  title="Add / Edit Street"
  [dragEnabled]="false"
  [closeOnOutsideClick]="false"
  [(visible)]="popupVisible">
      <dx-form id="callForm" class="callForm" [formData]="selectedStreet" [labelLocation]="'top'">
        <dxi-item dataField="streetNamePreModifier" [label]="{text: 'Pre Modifier'}" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>
        <dxi-item dataField="streetNamePreDirectionId" [label]="{text: 'Pre Direction'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: streetNameDirections,  valueExpr:'id', displayExpr:'streetNameDirectionCodeDescription', searchEnabled:true, searchExpr:'streetNameDirectionCodeDescription', searchMode:'startsWith' }"></dxi-item>
        <dxi-item dataField="streetName" [label]="{text: 'Street Name'}" [editorOptions]="{ stylingMode: 'filled' }" ></dxi-item>
        <dxi-item dataField="streetNameSuffixId" [colSpan]="1" [label]="{text: 'Suffix'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', items: streetNameSuffixs,  valueExpr:'id', displayExpr:'streetNameSuffixDescription', searchEnabled:true, searchExpr:'streetNameSuffixDescription', searchMode:'startsWith' }"></dxi-item>
        <dxi-item dataField="streetNamePostDirectionId" [label]="{text: 'Post Direction'}" editorType="dxSelectBox" [editorOptions]="{ stylingMode: 'filled', dataSource: streetNameDirections,  valueExpr:'id', displayExpr:'streetNameDirectionCodeDescription', searchEnabled:true, searchExpr:'streetNameDirectionCodeDescription', searchMode:'startsWith' }"></dxi-item>
        <dxi-item dataField="streetNamePostModifier" [label]="{text: 'Post Modifier'}" [editorOptions]="{ stylingMode: 'filled' }"></dxi-item>

        <dxi-item [colSpan]="2"
          itemType="button"
          horizontalAlignment="right"
          verticalAlignment="bottom"
          [buttonOptions]="buttonOptions">
        </dxi-item>
      </dx-form>
</dx-popup>
</div>
