<div *ngIf="callService.getActiveCallDetails()">
  <dx-data-grid id="involvedPersonsGrid"
    [dataSource]="involvedPersonsList"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [showColumnHeaders]="true"
    height="350"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="['activeUnits']">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-editing
      mode="popup"
      [refreshMode]="'full'"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
      [useIcons]="true">
      <dxo-popup title="Involved Person" [showTitle]="true" [width]="1000" [height]="900"></dxo-popup>
      <dxo-form [width]="'200%'">
        <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }" caption="Involved Person" [widthRatio]="1">
          <dxi-tab title="Person" width="100%" [colCount]="2">
            <dxi-item itemType="group" caption="Name">
              <dxi-item dataField="contactTypeId" [label]="{text: 'Contact Type'}" editorType="dxSelectBox" [editorOptions]="{ items: contactCodes,  valueExpr:'id', displayExpr:'contactTypeCodeDescription'}"></dxi-item>
              <dxi-item dataField="involvedPerson.namePrefixCodeId" [label]="{text: 'Name Prefix'}" editorType="dxSelectBox" [editorOptions]="{ items: namePrefixCodes,  valueExpr:'id', displayExpr:'namePrefixDescription'}"></dxi-item>
              <dxi-item dataField="involvedPerson.firstName"></dxi-item>
              <dxi-item dataField="involvedPerson.middleName"></dxi-item>
              <dxi-item dataField="involvedPerson.lastName"></dxi-item>
              <dxi-item dataField="involvedPerson.lastNameSuffixCodeId" [label]="{text: 'Name Suffix'}" editorType="dxSelectBox" [editorOptions]="{ items: lastNameSuffixCodes,  valueExpr:'id', displayExpr:'nameSuffixDescription'}"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Information">
              <dxi-item dataField="involvedPerson.dateOfBirth"></dxi-item>
              <dxi-item dataField="involvedPerson.socialSecurityNumber"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Driver Licence" [colSpan]="2" [colCount]="2">
              <dxi-item dataField="involvedPerson.driversLicenseState" [label]="{text: 'DL State'}" editorType="dxSelectBox" [editorOptions]="{ dataSource: stateCodes,  valueExpr:'id', displayExpr:'stateName'}"></dxi-item>
              <dxi-item dataField="involvedPerson.driversLicenseNumber"></dxi-item>
              <dxi-item dataField="involvedPerson.driversLicenseExpirationDate"></dxi-item>
              <dxi-item dataField="involvedPerson.driversLicenseIssueDate"></dxi-item>
              <dxi-item dataField="involvedPerson.driversLicenseClass"></dxi-item>
            </dxi-item>
          </dxi-tab>
          <dxi-tab title="Address" width="100%" [colCount]="2">
            <dxi-item itemType="group" caption="Address">
              <dxi-item dataField="personAddress.addressTypeId" [label]="{text: 'Address Type'}" editorType="dxSelectBox" [editorOptions]="{ dataSource: addressCodes,  valueExpr:'id', displayExpr:'description', searchEnabled:true, searchExpr:'description', searchMode:'startsWith'}"></dxi-item>
              <dxi-item dataField="personAddress.streetNumber"></dxi-item>
              <dxi-item dataField="personAddress.streetId" [label]="{text: 'Street Name'}" editorType="dxSelectBox" [editorOptions]="{ dataSource: streetNames,  valueExpr:'id', displayExpr:'streetName', searchEnabled:true, searchExpr:'streetName', searchMode:'startsWith'}"></dxi-item>
              <dxi-item dataField="personAddress.streetNameSuffix" [label]="{text: 'Street Name Suffix'}" editorType="dxSelectBox" [editorOptions]="{ items: streetNameSuffixCodes,  valueExpr:'id', displayExpr:'streetNameSuffix'}"></dxi-item>
              <dxi-item dataField="personAddress.streetNamePreDirection" [label]="{text: 'Street Name Direction'}" editorType="dxSelectBox" [editorOptions]="{ items: streetNamePreDirectionCodes,  valueExpr:'id', displayExpr:'streetNameDirectionCodeDescription'}"></dxi-item>
              <dxi-item dataField="personAddress.cityId" [label]="{text: 'City'}" editorType="dxSelectBox" [editorOptions]="{ dataSource: cityCodes,  valueExpr:'id', displayExpr:'cityName', searchEnabled:true, searchExpr:'cityName', searchMode:'startsWith'}"></dxi-item>
              <dxi-item dataField="involvedPerson.stateName" [label]="{text: 'State'}" editorType="dxSelectBox" [editorOptions]="{ dataSource: stateCodes,  valueExpr:'id', displayExpr:'stateName'}"></dxi-item>
              <dxi-item dataField="involvedPerson.zipCode"></dxi-item>
            </dxi-item>
            <dxi-item itemType="group" caption="Location">
              <dxi-item dataField="personAddress.countyId" [label]="{text: 'County'}" editorType="dxSelectBox" [editorOptions]="{ items: countyCodes,  valueExpr:'id', displayExpr:'countyName'}"></dxi-item>
              <dxi-item dataField="personAddress.zoneId" [label]="{text: 'Zone'}" editorType="dxSelectBox" [editorOptions]="{ dataSource: zoneCodes,  valueExpr:'id', displayExpr:'description', searchEnabled:true, searchExpr:'description', searchMode:'startsWith'}"></dxi-item>
              <dxi-item dataField="personAddress.patrolAreaId" [label]="{text: 'Patrol Area'}" editorType="dxSelectBox" [editorOptions]="{ items: patrolAreaCodes,  valueExpr:'id', displayExpr:'patrolAreaCodeDescription'}"></dxi-item>
              <dxi-item dataField="personAddress.latitude"></dxi-item>
              <dxi-item dataField="personAddress.longitude"></dxi-item>
            </dxi-item>
          </dxi-tab>
          <dxi-tab title="Contact">
            <dxi-item dataField="involvedPerson.homePhoneNumber" [editorOptions]="{ mask: '(000) 000-0000' }"></dxi-item>
            <dxi-item dataField="involvedPerson.workPhoneNumber" [editorOptions]="{ mask: '(000) 000-0000' }"></dxi-item>
            <dxi-item dataField="involvedPerson.mobilePhoneNumber" [editorOptions]="{ mask: '(000) 000-0000' }"></dxi-item>
          </dxi-tab>
          <dxi-tab title="Description">
            <dxi-item dataField="involvedPerson.genderId" [label]="{text: 'Gender'}" editorType="dxSelectBox" [editorOptions]="{ items: genderCodes,  valueExpr:'id', displayExpr:'genderDescription'}"></dxi-item>
            <dxi-item dataField="involvedPerson.raceId" [label]="{text: 'Race'}" editorType="dxSelectBox" [editorOptions]="{ items: raceCodes,  valueExpr:'id', displayExpr:'raceDescription'}"></dxi-item>
            <dxi-item dataField="involvedPerson.ethnicityId" [label]="{text: 'Ethnicity'}" editorType="dxSelectBox" [editorOptions]="{ items: ethnicityCodes,  valueExpr:'id', displayExpr:'ethnicityCodeDescription'}"></dxi-item>
            <dxi-item dataField="involvedPerson.height"></dxi-item>
            <dxi-item dataField="involvedPerson.weight"></dxi-item>
            <dxi-item dataField="involvedPerson.hairColorId" [label]="{text: 'Hair Color'}" editorType="dxSelectBox" [editorOptions]="{ items: hairColorCodes,  valueExpr:'id', displayExpr:'hairColorCodeDescription'}"></dxi-item>
            <dxi-item dataField="involvedPerson.hairTypeId" [label]="{text: 'Hair Type'}" editorType="dxSelectBox" [editorOptions]="{ items: hairCodes,  valueExpr:'id', displayExpr:'hairTypeCodeDescription'}"></dxi-item>
            <dxi-item dataField="involvedPerson.eyeColorId" [label]="{text: 'Eye Color'}" editorType="dxSelectBox" [editorOptions]="{ items: eyeColorCodes,  valueExpr:'id', displayExpr:'eyeColorCodeDescription'}"></dxi-item>
            <dxi-item dataField="involvedPerson.eyewearId" [label]="{text: 'Eyewear'}" editorType="dxSelectBox" [editorOptions]="{ items: eyeWearCodes,  valueExpr:'id', displayExpr:'eyewearCodeDescription'}"></dxi-item>
            <dxi-item dataField="involvedPerson.facialHairId" [label]="{text: 'Facial Hair'}" editorType="dxSelectBox" [editorOptions]="{ items: facialHairCodes,  valueExpr:'id', displayExpr:'facialHairCodeDescription'}"></dxi-item>
          </dxi-tab>
          <dxi-tab title="Injury">
            <dxi-item dataField="isAmbulanceRequired"></dxi-item>
            <dxi-item dataField="callForServiceHospitalId" [label]="{text: 'Hospital'}" editorType="dxSelectBox" [editorOptions]="{ items: hospitalCodes,  valueExpr:'id', displayExpr:'hospitalName'}"></dxi-item>
            <dxi-item dataField="ambulanceRemarks" editorType="dxTextArea" [editorOptions]="{ height: 200 }"></dxi-item>
            <dxi-item dataField="involvedPerson.isDeceased"></dxi-item>
            <dxi-item dataField="involvedPerson.dateOfDeath"></dxi-item>
          </dxi-tab>
          <dxi-tab title="Remarks">
            <dxi-item dataField="remarks" editorType="dxTextArea" [editorOptions]="{ height: 200 }"></dxi-item>
          </dxi-tab>
        </dxi-item>
      </dxo-form>
    </dxo-editing>

    <dxi-column dataField="contactTypeId" dataType="number" [caption]="'Contact Type'"><dxo-lookup [dataSource]="contactCodes" valueExpr="id" displayExpr="contactTypeCodeDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.namePrefixCodeId" [visible]="false" [caption]="'Name Prefix'"><dxo-lookup [dataSource]="namePrefixCodes" valueExpr="id" displayExpr="namePrefixDescription"> </dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.firstName" dataType="string" [caption]="'First Name'"></dxi-column>
    <dxi-column dataField="involvedPerson.middleName" dataType="string" [caption]="'Middle Name'"></dxi-column>
    <dxi-column dataField="involvedPerson.lastName" dataType="string" [caption]="'Last Name'"></dxi-column>
    <dxi-column dataField="involvedPerson.lastNameSuffixCodeId" [visible]="false" [caption]="'Last Name Suffix'"><dxo-lookup [dataSource]="lastNameSuffixCodes" valueExpr="id" displayExpr="nameSuffixDescription"> </dxo-lookup></dxi-column>

    <dxi-column dataField="involvedPerson.dateOfBirth" dataType="date" [caption]="'Date of Birth'"></dxi-column>
    <dxi-column dataField="involvedPerson.socialSecurityNumber" [visible]="false" [caption]="'SSN'"></dxi-column>

    <dxi-column dataField="involvedPerson.driversLicenseState" [visible]="false" [caption]="'DL State'"><dxo-lookup [dataSource]="stateCodes.store()" valueExpr="id" displayExpr="stateName"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.driversLicenseNumber" [visible]="false" [caption]="'DL Number'"></dxi-column>
    <dxi-column dataField="involvedPerson.driversLicenseClass" [visible]="false" [caption]="'DL Class'"></dxi-column>
    <dxi-column dataField="involvedPerson.driversLicenseExpirationDate" dataType="date" [visible]="false" [caption]="'DL Expiration Date'"></dxi-column>
    <dxi-column dataField="involvedPerson.driversLicenseIssueDate" dataType="date" [visible]="false" [caption]="'DL Issue Date'"></dxi-column>

    <dxi-column dataField="personAddress.addressTypeId" [visible]="false" [caption]="'Address Type'"><dxo-lookup [dataSource]="addressTypeCodes.store()" valueExpr="id" displayExpr="description"></dxo-lookup></dxi-column>
    <dxi-column dataField="personAddress.streetNumber" [visible]="false" [caption]="'Street Number'"></dxi-column>
    <dxi-column dataField="personAddress.streetId" [visible]="false" [caption]="'Street Name'"><dxo-lookup [dataSource]="streetNames.store()" valueExpr="id" displayExpr="streetName"></dxo-lookup></dxi-column>
    <dxi-column dataField="personAddress.streetNameSuffix" [visible]="false" [caption]="'Street Name Suffix'"><dxo-lookup [dataSource]="streetNameSuffixCodes" valueExpr="id" displayExpr="streetNameSuffix"></dxo-lookup></dxi-column>
    <dxi-column dataField="personAddress.streetNamePreDirection" [visible]="false" [caption]="'Street Name Direction'"><dxo-lookup [dataSource]="streetNamePreDirectionCodes" valueExpr="id" displayExpr="streetNameDirectionCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.cityName" [visible]="false" [caption]="'City'"><dxo-lookup [dataSource]="cityCodes.store()" valueExpr="id" displayExpr="cityName"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.stateName" [visible]="false" [caption]="'State'"> <dxo-lookup [dataSource]="stateCodes.store()" valueExpr="id" displayExpr="stateName"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.zipCode" [visible]="false" [caption]="'Zip Code'"></dxi-column>
    <dxi-column dataField="personAddress.countyId" [visible]="false" [caption]="'County'"> <dxo-lookup [dataSource]="countyCodes" valueExpr="id" displayExpr="countyName"></dxo-lookup></dxi-column>
    <dxi-column dataField="personAddress.zoneId" [visible]="false" [caption]="'Zone'"> <dxo-lookup [dataSource]="zoneCodes.store()" valueExpr="id" displayExpr="description"></dxo-lookup></dxi-column>
    <dxi-column dataField="personAddress.patrolAreaId" [visible]="false" [caption]="'Patrol Area'"> <dxo-lookup [dataSource]="patrolAreaCodes" valueExpr="id" displayExpr="patrolAreaCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="personAddress.latitude" [visible]="false" [caption]="'Latitude'"></dxi-column>
    <dxi-column dataField="personAddress.longitude" [visible]="false" [caption]="'Longitude'"></dxi-column>

    <dxi-column dataField="involvedPerson.homePhoneNumber" [visible]="false" [caption]="'Home Phone'"></dxi-column>
    <dxi-column dataField="involvedPerson.workPhoneNumber" [visible]="false" [caption]="'Work Phone'"></dxi-column>
    <dxi-column dataField="involvedPerson.mobilePhoneNumber" [visible]="false" [caption]="'Mobile Number'"></dxi-column>

    <dxi-column dataField="involvedPerson.genderId" [visible]="false" [caption]="'Gender'"> <dxo-lookup [dataSource]="genderCodes" valueExpr="id" displayExpr="genderDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.raceId" [visible]="false" [caption]="'Race'"> <dxo-lookup [dataSource]="raceCodes" valueExpr="id" displayExpr="raceDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.ethnicityId" [visible]="false" [caption]="'Ethnicity'"> <dxo-lookup [dataSource]="ethnicityCodes" valueExpr="id" displayExpr="ethnicityCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.height" dataType= "number" [visible]="false" [caption]="'Height'"></dxi-column>
    <dxi-column dataField="involvedPerson.weight" dataType= "number" [visible]="false" [caption]="'Weight'"></dxi-column>
    <dxi-column dataField="involvedPerson.hairColorId" [visible]="false" [caption]="'Hair Color'"> <dxo-lookup [dataSource]="hairColorCodes" valueExpr="id" displayExpr="hairColorCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.hairTypeId" [visible]="false" [caption]="'Hair Type'"> <dxo-lookup [dataSource]="hairCodes" valueExpr="id" displayExpr="hairTypeCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.eyeColorId" [visible]="false" [caption]="'Eye Color'"> <dxo-lookup [dataSource]="eyeColorCodes" valueExpr="id" displayExpr="eyeColorCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.eyewearId" [visible]="false" [caption]="'Eyewear'"> <dxo-lookup [dataSource]="eyeWearCodes" valueExpr="id" displayExpr="eyewearCodeDescription"></dxo-lookup></dxi-column>
    <dxi-column dataField="involvedPerson.facialHairId" [visible]="false" [caption]="'Facial Hair'"> <dxo-lookup [dataSource]="facialHairCodes" valueExpr="id" displayExpr="facialHairCodeDescription"></dxo-lookup></dxi-column>

    <dxi-column dataField="isAmbulanceRequired" [visible]="false" [caption]="'Is Abulance Required'" dataType="boolean"></dxi-column>
    <dxi-column dataField="callForServiceHospitalId" [visible]="false" [caption]="'Hospital Id'"> <dxo-lookup [dataSource]="hospitalCodes" valueExpr="id" displayExpr="hospitalName"></dxo-lookup></dxi-column>
    <dxi-column dataField="ambulanceRemarks" [visible]="false" dataType="textArea" [caption]="'Remarks'"></dxi-column>
    <dxi-column dataField="involvedPerson.isDeceased" dataType="boolean" [visible]="false" [caption]="'Deceased?'"></dxi-column>
    <dxi-column dataField="involvedPerson.dateOfDeath" dataType="date" [visible]="false" [caption]="'Date of Death'"></dxi-column>

    <dxi-column dataField="remarks" [visible]="false" [caption]="'Remarks'"></dxi-column>
  </dx-data-grid>
</div>
