<div *ngIf="callService.getActiveCall()">
  <dx-data-grid id="vehicleGrid"
    [dataSource]="callService.getActiveCallDetails().vehicles"
    [rowAlternationEnabled]="true"
    [showBorders]="true"
    [showColumnHeaders]="true"
    height="350"
    cdkDropList
    #inActiveOfficersListDnD="cdkDropList"
    (cdkDropListDropped)="drop($event)"
    cdkDropListConnectedTo="activeOfficers">
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-selection mode="single"></dxo-selection>
    <dxo-editing
      mode="popup"
      [allowUpdating]="true"
      [allowDeleting]="true"
      [allowAdding]="true"
      [useIcons]="true">
    </dxo-editing>
    <dxi-column dataField="id" dataType="string" [visible]="false"></dxi-column>
    <dxi-column dataField="license_plate_number" dataType="string"></dxi-column>
    <dxi-column dataField="driver_name" dataType="string"></dxi-column>
    <dxi-column dataField="dispatch_time" dataType="Date"></dxi-column>
    <dxi-column type="buttons" [width]="150">
        <dxi-button name="edit"></dxi-button>
        <dxi-button name="delete"></dxi-button>
        <dxi-button
            hint="Assign To Wrecker Service"
            icon="fa fa-truck"
            [onClick]="assignToWreckerService">
        </dxi-button>
      </dxi-column>
  </dx-data-grid>
</div>

